@import "../../../variables.scss";

.component-container {
  margin: 10px;
  text-align: left;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: $main-box-shadow;
  margin-bottom: 30px;
}

img {
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.post-text {
  width: 80%;
}

.idea-node-container {
  h4 {
    font-size: 20pt;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    text-align: justify;
    max-height: 100px;
    overflow-y: auto;
    font-size: 10pt;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
  }

  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.main-content {
  display: flex;
}

.vote-panel {
  text-align: center;
  margin-left: 40px;
  margin-top: 30px;
}

svg {
  transform: rotate(90deg);
}

polyline {
  fill:none;
  stroke-width:3px;
  stroke: black;
}

.idea-node-container h5 {
  margin: 0;
  padding: 0;
}

/************************
  Comment / Tag Panel
************************/

.bottom-panel {
  display: flex;
  justify-content: space-between;
}

.comment-btn {
  color: $color-primary;
  transition: $main-hover-transition;
  margin-right: 80px;

  &:hover {
    font-weight: bold;
    color: $color-primary-dark;
    transition: $main-hover-transition;
  }
}

.comments {
  border-top: 1px solid #EFEFEF;
  padding: 15px;
  text-align: justify;
}

form {
  text-align: center;
}

input {
  border: 0;
  background-color: #EFEFEF;
  color: black;
  border-radius: 7px;
  padding: 10px 20px;
  transition: $main-hover-transition;

  &[type="submit"] {
    margin-left: 20px;
    background-color: $color-primary;
    color: white;

    &:hover {
      background-color: $color-primary-dark;
      transition: $main-hover-transition;
    }
  }

  &[type="text"]:hover {
    background-color: #EAEAEA;
    transition: $main-hover-transition;
  }
}

li {
  margin: 10px;
}

.show {
  display: block; 
  animation: openComment 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.hide {
  display: none;
}


/***********************************
  Mobile CSS
***********************************/

@media screen and (orientation: portrait) {
  .main-content img, h5 {
    display: none;
  }

  .post-text {
    width: 100%;
  }

  .component-container {
    padding: 8%;
  }

  .idea-node-container {
    h4 {
      text-align: center;
      font-size: 5vw;
    }

    p {
      text-align: justify;
      font-size: 3vw;
      padding: 0;
    }
  }

  .vote-panel {
    display: none;
  }
}
