<div class="left-container">
  <h1>Welcome to Clara</h1>

  <div class="login-container">
     <amplify-authenticator [signUpConfig]="signUpConfig"></amplify-authenticator>
  </div>

  <img src="./assets/images/clara_icon.png" class="thumbnail" (click)="toSplash()">
</div>

<div class="right-container">
  <img src="./assets/vectors/clara-cat.svg">
  <p>Clara is a municipal machine learning and</p>
  <p>analytics platform, providing ideas and</p>
  <p>insights to the municipality of Kitchener.</p>
</div>

<img src="./assets/vectors/background.svg" class="background">
