<div class="title">
  <p>Shared Dashboards</p>
</div>
<div class="contain">
  <!--Placeholders-->
  <div class="chart">
    <h2>Recently Shared<br><br>
      <p>Sensor update</p>
      <div class="container">
        <div class="skills html">3 hours ago</div>
      </div>
      <p>Database Changes</p>
      <div class="container">
        <div class="skills css">5 hours ago</div>
      </div>
      <p>Minor Outage</p>
      <div class="container">
        <div class="skills js">6 hours ago</div>
      </div>
      <p>Server down</p>
      <div class="container">
        <div class="skills php">7 hours ago</div>
      </div>
    </h2>
  </div>
  <div class="traffic">
    <h2>Shared Traffic<br><br><img src="assets/giphy.gif" alt="traffic" style="width:500px;height:330px;"></h2>
    <h2>Water Pipes Capacity over the years<br><br><br><br>Graphs....</h2>
  </div>

  <div class="graphs">
    <h2>Trends<br><br><br><br><br>Current Trends PlaceHolder!</h2>
  </div>
</div>