<h1>Upload a New Model</h1>

<!-- https://valor-software.com/ng2-file-upload/ -->

<form [formGroup]="uploadForm" novalidate (ngSubmit)="onSubmit()">
  <input type="file" ng2FileSelect [uploader]="this.arService.uploader" multiple/>
  <ul *ngFor="let item of this.arService.uploader.queue">
    <li>{{ item?.file?.name }}</li>
    <button type="button" (click)="item.remove()">Remove</button>
  </ul>
  <label>Scale:
    <input type="text" formControlName="scale" [value]="1.0">
  </label>
  <input type="submit" value="Submit">
</form>
