<div *ngIf="dashboard">
  <div class="name-settings-panel">
    <div class="dashboard-info">
      <h1> {{ dashboard.name + " Dashboard"}} </h1>
      <p>{{ dashboard.desc }}</p>
      <ul class="tags">
        <li *ngFor="let tag of dashboard.tags">{{ tag }}</li>
      </ul>
    </div>
    <button class="add-chart-btn" (click)="openAddChartDialog()">
      <i class="material-icons-round">add_circle</i>
    </button>

    <!-- Dashboard Settings Menu -->
    <ng-container *ngIf="dashboard.name != 'Main' && dashboard.name != 'Mobile'">
      <button mat-button [matMenuTriggerFor] = "settingsMenu">
        <i class="material-icons-round">settings</i>
      </button>
      <mat-menu #settingsMenu = "matMenu">
        <button mat-menu-item>Rename</button>
        <button mat-menu-item (click)="dashboardService.removeDashboard(dashboard)">Delete</button>
      </mat-menu>
    </ng-container>
  </div>

<!--  <div class="top-container">-->
    <!-- Main Chart -->
<!--    <div *ngIf="dashboard.charts[0]" class="main-chart">-->
<!--      <div class="chart-top-panel">-->
<!--        <h2>{{ dashboard.charts[0].name }}</h2>-->
<!--        <div>-->
<!--          &lt;!&ndash; Chart Menu &ndash;&gt;-->
<!--          <button mat-button [matMenuTriggerFor] = "menu">-->
<!--            <i class="material-icons">more_vert</i>-->
<!--          </button>-->
<!--          <mat-menu #menu = "matMenu">-->
<!--            <button mat-menu-item>Edit</button>-->
<!--            <button mat-menu-item [matMenuTriggerFor] = "moveChart">Move To</button>-->
<!--            <button mat-menu-item>Delete</button>-->
<!--          </mat-menu>-->
<!--          <mat-menu #moveChart = "matMenu">-->
<!--  &lt;!&ndash;          <ng-container *ngFor="let dashboard of dashboards">&ndash;&gt;-->
<!--  &lt;!&ndash;            <button mat-menu-item>{{ dashboard.name }}</button>&ndash;&gt;-->
<!--  &lt;!&ndash;          </ng-container>&ndash;&gt;-->
<!--          </mat-menu>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; Main Chart Canvas &ndash;&gt;-->
<!--       <canvas *ngIf="dashboard.charts[0].data" baseChart-->
<!--      [datasets]="[{-->
<!--        label:'Series A',-->
<!--        data: dashboard.charts[0].data-->
<!--      }]"-->
<!--      [chartType]="dashboard.charts[0].type"-->
<!--      [options]="options">-->
<!--    </canvas>-->
<!--    </div>-->
<!--  </div>-->

  <mat-grid-list cols="3">
  <mat-grid-tile
      *ngFor="let chart of dashboard.charts.items"
      [colspan]="1"
      [rowspan]="1">
    <mat-card>
      <app-chart [chart]="chart"></app-chart>
    </mat-card>

  </mat-grid-tile>
</mat-grid-list>
<!--  <ul *ngFor="let chart of dashboard.charts.items" class="charts-container">-->
<!--    <li class="charts">-->
<!--      <app-chart [chart]="chart"></app-chart>-->
<!--    </li>-->
<!--  </ul>-->
</div>
