<h1>Lab Services</h1>
<div class="container">
  <div class="upcoming">
    <h3>
      Upcoming Lab Services Sessions<br><br>
    </h3>
   <h4 class="list">Session 1</h4>
    <h4 class="list">Session 2</h4>
    <h4 class="list">Session 3</h4>
  </div>
  <div class="pilot">
    <h3>
      Pilot Projects <br> <br>
    </h3>
    <h4><button type="button" class="block">Smart Parking</button></h4>
    <h4><button type="button" class="block">Voice Assistant</button></h4>
    <h4><button type="button" class="block">Street Lights</button></h4>
    <h4><button type="button" class="block">Smart Garbage</button></h4>
  </div>
</div>