@import "../../../variables.scss";
body {
  height: auto !important;
}

h1 {
  margin: 0;
  padding: $header-padding;
  background: $blue-gradient;
  font-weight: $header-font-weight;
  color: white;
}

h2 {
  text-align: left;
  margin-left: 2%;
  font-weight: 300;
}

.pilots {
  width: 70%;
  float: left;
  margin-left: 1%;
}

.options {
  width: 25%;
  float: right;
}