.container {
    justify-content: space-between;
}

.upcoming {
    margin-top: 20px;
    padding: 300px;
    border-radius: 20px;
    background-color: white;
    color: blue;
}

.pilot {
    margin-top: 20px;
    padding: 300px;
    border-radius: 20px;
    background-color: white;
    color: blue;
}