<div class="title"><p>Lab Services</p></div>
<div class="container">
  <div class="upcoming">
    <p>
      Upcoming Lab Services Sessions
    </p>
   <p class="list">May 30th</p>
    <p class="list">June 30th</p>
    <p class="list">August 27th</p>
  </div>
  <div class="pilot">
    <p>
      Pilot Projects <br> <br>
    </p>
    <p class="block">Smart Parking</p>
    <p class="block">Smart Garbage</p>
    <p class="block">Street Light Control</p>
    <p class="block">Traffic Control System</p>
  </div>
</div>