<h1>Dashboards</h1>

<h2>How To Use The {{ selected }}</h2>

<table class="selectionTable">
  <tr>
    <td>
      <a (click)="setSelected('User Dashboard')">User Dashboard</a>
    </td>
    <td>
      <a (click)="setSelected('Shared Dashboards')">Shared Dashboards</a>
    </td>
  </tr>
</table>

<table class="guideTable">
  <tr>
    <td>
      <h3>Step 1</h3>
    </td>
    <td>
      <h3>Step 2</h3>
    </td>
  </tr>
  <tr>
    <td>
      <h3>Step 3</h3>
    </td>
    <td>
      <h3>Step 4</h3>
    </td>
  </tr>
</table>