<!-- Nav Bar -->
<nav [ngClass]="{'active':whiteNavbar === true}">
  <img src="./assets/images/clara_icon.png" alt="" id="thumbnail">
  
  <div class="nav-buttons">
    
    
  </div>

  <ul>
    <li><a (click)="scroll(top)">Home</a></li>
    <li><a (click)="scroll(features)">Features</a></li>
    <li><a>Services</a></li>
    <li><a>Clients</a></li>
    <li><a>Pricing</a></li>
    <li><a>Download</a></li>
    <li><a (click)="goToLogin()">Log in</a></li>
    <li><a>Sign up</a></li>
  </ul>
</nav>

<!-- Header with Product Image -->
<div class="top" #top>
  <h1>Clara: A Muncipal Data Collection</h1>
  <h1>and Visualization Platform.</h1>

  <div class="device-image-container">
    <img src="./assets/images/clara_laptop.jpg" alt="">
  </div>
</div>

<!-- Steps -->
<div class="main">
  <div class="images">
    <div class="image-with-definition">
        <i class="material-icons-round">devices</i>
        <h3>Set Up Device</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet congue sem nec luctus. Vivamus dictum, risus nec imperdiet fringilla, orci tellus dignissim felis, eu vulputate est nisi sed purus.</p>
    </div>

    <i class="material-icons-round right-arrow">arrow_forward_ios</i>
    
    <div class="image-with-definition">
      <i class="material-icons-round">storage</i>
      <h3>Upload to Database</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet congue sem nec luctus. Vivamus dictum, risus nec imperdiet fringilla, orci tellus dignissim felis, eu vulputate est nisi sed purus.</p>
    </div>
    
    <i class="material-icons-round right-arrow">arrow_forward_ios</i>
    
    <div class="image-with-definition">
        <i class="material-icons-round">bar_chart</i>
      <h3>Present Visualized Data</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet congue sem nec luctus. Vivamus dictum, risus nec imperdiet fringilla, orci tellus dignissim felis, eu vulputate est nisi sed purus.</p>
    </div>
  </div>

  <!-- Features -->
  <div class="features" #features>
    <h2>Features</h2>
    <div class="features-point">
      <img src="./assets/images/clara_hub_saas.png" alt="">
      <div>
        <h3>Clara Hub: Variation 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis lacus orci, at condimentum ex efficitur quis. Fusce quis placerat arcu. Etiam nibh dui, maximus tincidunt gravida quis, convallis quis neque. Mauris pretium sapien id metus ullamcorper venenatis. Sed scelerisque, lectus ac scelerisque dignissim, tortor urna hendrerit libero, in tincidunt purus mi nec velit. Curabitur sem velit, consectetur a urna vehicula, rutrum ullamcorper risus. </p>
      </div>
    </div>
    <div class="features-point">
      <div>
        <h3>Clara Hub: Variation 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis lacus orci, at condimentum ex efficitur quis. Fusce quis placerat arcu. Etiam nibh dui, maximus tincidunt gravida quis, convallis quis neque. Mauris pretium sapien id metus ullamcorper venenatis. Sed scelerisque, lectus ac scelerisque dignissim, tortor urna hendrerit libero, in tincidunt purus mi nec velit. Curabitur sem velit, consectetur a urna vehicula, rutrum ullamcorper risus. </p>
      </div>
      <img src="./assets/images/clara_hub_variation_2_saas.png" alt="">
    </div>
    <div class="features-point">
      <img src="./assets/images/clara_mobile_saas.png" alt="">
      <div>
        <h3>Clara Mobile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis lacus orci, at condimentum ex efficitur quis. Fusce quis placerat arcu. Etiam nibh dui, maximus tincidunt gravida quis, convallis quis neque. Mauris pretium sapien id metus ullamcorper venenatis. Sed scelerisque, lectus ac scelerisque dignissim, tortor urna hendrerit libero, in tincidunt purus mi nec velit. Curabitur sem velit, consectetur a urna vehicula, rutrum ullamcorper risus. </p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <p>Digital Kitchener Innovation Lab</p>
  <div class="social-media-icons-panel">
    <img src="./assets/vectors/social_media_icons/facebook.svg" alt="">
    <img src="./assets/vectors/social_media_icons/instagram.svg" alt="">
    <img src="./assets/vectors/social_media_icons/twitter.svg" alt="">
    <img src="./assets/vectors/social_media_icons/linkedin.svg" alt="">
    <img src="./assets/vectors/social_media_icons/github.svg" alt="">
  </div>
</footer>