/***********************
  Nav Style
************************/

nav {
  text-align: center;
  position: fixed;
  height: 60px;
  width: 100%;
  padding-left: 10%;
  z-index: 10;
  transition:color .2s ease-out, background 0.3s ease-in;
}

nav img {
  margin-top: 10px;
  height: 40px;
  float: left;
  filter: invert(1);
}

.navButtons {
  margin-right: 20%; // 20% to offset 10% left padding on nav and provide 10% right padding
  float: right;
  display: flex;
}

.navButtons button {
  margin-top: 10px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: rgba($color: #FFFFFF, $alpha: 0.2);
  transition:color .2s ease-out, background 0.3s ease-in;
}

.navButtons button:hover {
  background-color: rgba($color: #000000, $alpha: 0.1);
  transition:color .2s ease-out, background 0.3s ease-in;
}

ul {
  margin-top: 10px;
  list-style-type: none;
}

li {
  margin-left: 5px;
  margin-right: 5px;
  line-height: 40px;
  display: inline-block;
}

li a {
  color: white;
  border-radius: 20px;
  background-color: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition:color .2s ease-out, background 0.3s ease-in;
}

li a:hover {
  background-color: rgba($color: #000000, $alpha: 0.1);
  transition:color .2s ease-out, background 0.3s ease-in;
  cursor: pointer;
}

.active {
  background-color: white;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
  transition:color .2s ease-out, background 0.3s ease-in;
}

.active img {
  filter: none;
}

.active li a {
  color: black;
  background: none;
}

.active li a:hover {
  color: #00B2FF;
}

.active button {
  color: #00B2FF;
  background-color: rgba($color: #00B2FF, $alpha: 0.2);
  transition:color .2s ease-out, background 0.3s ease-in;
}

.active button:hover {
  background-color: rgba($color: #00B2FF, $alpha: 0.4);
  transition:color .2s ease-out, background 0.3s ease-in;
}


/***********************
  Main Style
************************/

.top {
  padding-top: 200px;
  background: linear-gradient(223.73deg, #00B2FF 15.73%, #32CDFE 100.01%);
  text-align: center;
  height: 600px;
  border-radius: 0 0 50% 50%; /* top left, top right, bottom right, bottom left */
  margin-bottom: 300px;
}

h1 {
  background: none;
  margin: 30px;
  padding: 0;
  font-size: 6vh;
  opacity: 0;
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 2s ease-in 1 normal forwards;
       -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;

}

.deviceImageContainer {
  width: 500px;
  height: 500px;
  border-radius: 250px;
  margin: auto;
  margin-top: 150px;
  background-color: white;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
}

.deviceImageContainer img {
  margin-top: 150px;
  height: 200px;
}

.main {
  margin-top: 100px;
}

.images {
  display: flex;
  margin: auto;
  width: 90%;
  margin-bottom: 40px;
}

.imageWithDefinition {
  width: 240px;
  height: 300px;
  margin: auto;
  text-align: center;
}

.imageWithDefinition img {
  width: 50px;
  z-index: 4;
}

.imageWithDefinition h3 {
  font-weight: 400;
  font-size: 16pt;
}

.imageWithDefinition p {
  text-align: justify;
  font-size: 11pt;
  color: #424242;
}

.rightArrow {
  width: 35px;
}

.features {
  background-color: #e2e4e7;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  font-size: 30pt;
  margin-bottom: 50px;
}

.featuresPoint {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: justify;
}

.featuresPoint img {
  flex: 1;
}

.featuresPoint div {
  flex: 1;
}

.featuresPoint h3 {
  padding: 0;
  margin: 0;
  font-size: 16pt;
  text-align: center;
}

.featuresPoint p {
  padding: 30px;
  font-size: 14pt;
}

/***********************
  Footer Style
************************/

footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #8391A2;
  background-color: #313A46;
}

.socialMediaIconsPanel {
  display: inline;
  margin: auto;
}

.socialMediaIconsPanel img {
  width: 30px;
  margin-left: 15px;
  margin-right: 15px;
  filter: invert(1) brightness(85%);
}

.socialMediaIconsPanel img:hover {
  cursor: pointer;
  filter: invert(1);
}