<nav [ngClass]="{'active':whiteNavbar === true}">
  <img src="./assets/images/claraIcon.png" alt="" id="thumbnail">
  
  <div class="navButtons">
    <button (click)="goToLogin()" style="margin-right:15px">Log in</button>
    <button>Sign up</button>
  </div>
    
  <ul>
    <li><a href="#top">Home</a></li>
    <li><a href="#top">Features</a></li>
    <li><a href="#top">Services</a></li>
    <li><a href="#top">Clients</a></li>
    <li><a href="#top">Pricing</a></li>
    <li><a href="#top">Download</a></li>
  </ul>
</nav>

<div class="top" id="top">
  <!-- https://www.freepik.com/free-psd/laptop-mock-up-design_1053179.htm -->
  <h1 id="navColorChange">Clara: A Muncipal Data Collection</h1>
  <h1>and Visualization Platform.</h1>

  <div class="deviceImageContainer">
    <img src="./assets/images/claraLaptopMockup.jpg" alt="">
  </div>
</div>

<div class="main">
  <div class="images">
    <div class="imageWithDefinition">
        <img src="./assets/vectors/round-devices-24px.svg">
        <h3>Set Up Device</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet congue sem nec luctus. Vivamus dictum, risus nec imperdiet fringilla, orci tellus dignissim felis, eu vulputate est nisi sed purus.</p>
    </div>

    <img src="./assets/vectors/round-keyboard_arrow_right-24px.svg" class="rightArrow">
    
    <div class="imageWithDefinition">
      <img src="./assets/vectors/round-storage-24px.svg">
      <h3>Upload to Database</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet congue sem nec luctus. Vivamus dictum, risus nec imperdiet fringilla, orci tellus dignissim felis, eu vulputate est nisi sed purus.</p>
    </div>
    
    <img src="./assets/vectors/round-keyboard_arrow_right-24px.svg" class="rightArrow">
    
    <div class="imageWithDefinition">
      <img src="./assets/vectors/round-bar_chart-24px.svg">
      <h3>Present Visualized Data</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet congue sem nec luctus. Vivamus dictum, risus nec imperdiet fringilla, orci tellus dignissim felis, eu vulputate est nisi sed purus.</p>
    </div>
  </div>

  <div class="features">
    <h2>Features</h2>
  </div>
</div>

<footer>
  <p>Digital Kitchener Innovation Lab</p>
  <div class="socialMediaIconsPanel">
    <img src="./assets/vectors/social_media_icons/facebook.svg" alt="">
    <img src="./assets/vectors/social_media_icons/instagram.svg" alt="">
    <img src="./assets/vectors/social_media_icons/twitter.svg" alt="">
    <img src="./assets/vectors/social_media_icons/linkedin.svg" alt="">
    <img src="./assets/vectors/social_media_icons/github.svg" alt="">
  </div>
</footer>