<nav>
  <img src="./assets/images/claraIcon.png" alt="" id="thumbnail">
  
  <div class="navButtons">
    <button style="margin-right:15px">Log in</button>
    <button>Sign up</button>
  </div>
    
  <ul>
    <li><a href="#top">Home</a></li>
    <li><a href="#top">Features</a></li>
    <li><a href="#top">Services</a></li>
    <li><a href="#top">Clients</a></li>
    <li><a href="#top">Pricing</a></li>
    <li><a href="#top">Download</a></li>
  </ul>
</nav>

<div class="top" id="top">
  <!-- https://www.freepik.com/free-psd/laptop-mock-up-design_1053179.htm -->
  <h1>Clara: A Muncipal Data Collection</h1>
  <h1>and Visualization Platform.</h1>

  <div class="deviceImageContainer">
    <img src="./assets/images/claraLaptopMockup.jpg" alt="">
  </div>
</div>

<footer>
  <p>footer</p>
</footer>