@import "../../../variables.scss";

/***********************
  Nav Style
************************/

nav {
  text-align: center;
  position: fixed;
  height: 60px;
  width: 100%;
  padding-left: 10%;
  z-index: 10;
  transition: $main-hover-transition;

  img {
    margin-top: 10px;
    height: 40px;
    float: left;
    filter: invert(1);
  }
}

.nav-buttons {
  margin-right: 20%; // 20% to offset 10% left padding on nav and provide 10% right padding
  float: right;
  display: flex;

  button {
    color: white;
    border: 0;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.2);
    transition: $main-hover-transition;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
      transition: $main-hover-transition;
    }
  }
}

ul {
  margin-top: 10px;
  list-style-type: none;
}

li {
  margin-left: 5px;
  margin-right: 5px;
  line-height: 40px;
  display: inline-block;

  a {
    color: white;
    border-radius: 20px;
    background-color: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: $main-hover-transition;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1);
      transition: $main-hover-transition;
      cursor: pointer;
    }
  }
}

.active {
  background-color: white;
  box-shadow: $main-box-shadow;
  transition: $main-hover-transition;

  img {
    filter: none;
  }

  li {
    a {
      color: black;
      background: none;

      &:hover {
        color: $color-primary;
      }
    }
  }

  button {
    color: $color-primary;
    background-color: rgba($color: $color-primary, $alpha: 0.2);
    transition: $main-hover-transition;

    &:hover {
      background-color: rgba($color: $color-primary, $alpha: 0.4);
      transition: $main-hover-transition;
    }
  }
}


/***********************
  Main Style
************************/

.top {
  padding-top: 200px;
  background: $blue-gradient;
  text-align: center;
  height: 600px;
  border-radius: 0 0 50% 50%; /* top left, top right, bottom right, bottom left */
  margin-bottom: 300px;
}

h1 {
  color: white;
  background: none;
  margin: 30px;
  padding: 0;
  font-size: 6vh;
  opacity: 0;
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 2s ease-in 1 normal forwards;
       -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;

}

.device-image-container {
  width: 500px;
  height: 500px;
  border-radius: 250px;
  margin: auto;
  margin-top: 150px;
  background-color: white;
  box-shadow: $main-box-shadow;

  img {
    margin-top: 150px;
    height: 200px;
  }
}

.main {
  margin-top: 100px;
}

.images {
  display: flex;
  margin: auto;
  align-items: center;
  width: 90%;
  margin-bottom: 40px;
}

.image-with-definition {
  width: 240px;
  height: 300px;
  margin: auto;
  text-align: center;

  i {
    font-size: 50px;
    z-index: 4;
  }

  h3 {
    font-weight: 400;
    font-size: 16pt;
  }

  p {
    text-align: justify;
    font-size: 11pt;
    color: #424242;
  }
}

.right-arrow {
  margin-top: 30px;
  font-size: 35px;
}

.features {
  background-color: #e2e4e7;
  box-shadow: $main-box-shadow;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  font-size: 30pt;
  margin: 70px auto;
}

.features-point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: justify;

  img {
    flex-basis: 45%;
  }

  div {
    box-sizing: border-box;
    padding: 30px;
    flex-basis: 45%;
  }

  h3 {
    padding: 0;
    margin: 0;
    font-size: 16pt;
    text-align: center;
  }
  
  p {
    font-size: 14pt;
  }
}


/***********************
  Footer Style
************************/

footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #8391A2;
  background-color: #313A46;
}

.social-media-icons-panel {
  display: inline;
  margin: auto;

  img {
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
    filter: invert(1) brightness(85%);

    &:hover {
      cursor: pointer;
      filter: invert(1);
    }
  }
}