.title {
	padding: 2px;
	color: white;
	font-size: 40pt;
	font-weight: 300;
	background-image: linear-gradient(to left, #32CDFE, #00B2FF);
  }
  
  .container {
	width:100%;
  }
 
  
//Sample questions and capabilities tab
  .stats {
	margin-top: 40px;
	margin-bottom: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	
  }
  
  .stats div {
	padding: 100px;
	padding-top: 10px;
	margin-left: 40px;
	height: 500px;
	margin-right: 40px;
	border-radius: 7px;
	width: 40%;
	background-color: white;
  }
  
  .stats h3 {
	font-weight: 400;
	font-size: 20pt;
  }
  
  .stats p {
	text-align: left;
  }
  
  .stats ul {
	text-align: left;
	margin-left: 10px;
  }
  
  .questions mat-expansion-panel-header {
	  padding: 15px;
	  background-image: linear-gradient(to left, #32CDFE, #00B2FF);
	  border-radius: 50px;
	  text-align: left;
  }

  .questions mat-panel-description {
	  background-color: #F0F8FF;
	  padding: 2px;
	  border-radius: 30px;
  }

  .questions mat-panel-description p {
	text-align: center;
}


//How does it work tab
  .faq {
	padding: 100px;
	padding-top: 10px;
	border-radius: 7px;
	height: 300px;
	background-color: white;
	margin-bottom: 50px;
	margin-left: 40px;
	margin-right: 40px;
  }
  
  .faq h3 {
	font-weight: 400;
	font-size: 20pt;
  }
  
  .faq p {
	text-align: left;
  }
  