<!-- Top Bar -->
<h1>Ideas</h1>

<!-- Posts Feed -->
<div class="posted-ideas">
  <div class="ideas-forum">
    <div class="search-panel">
      <div class="dropdown">
        <button class="dropbtn">Arrange By: {{ selectedFilter }}</button>
        <div class="dropdown-content">
          <ul>
            <li *ngFor="let arrangedFilter of arrangedFilters">
              <a (click)="selectFilter(arrangedFilter)">{{ arrangedFilter }}</a>
            </li>
          </ul>
        </div>
      </div>

      <form class="search-data-form" [formGroup]="searchDataForm" (ngSubmit)="search()">
        <input type="text" formControlName="searchText" placeholder="Search">
        <input type="submit" name="searchSubmit" value="See All Results">
      </form>
    </div>
    <app-idea-node *ngFor="let post of posts" [post]="post"></app-idea-node>
  </div>

  <div class="side-panel">
    <button (click)="viewNewPost()">New Post</button>
    <h5>Filters</h5>
    <hr>
    <ul>
      <li *ngFor="let filter of filters">
        <span>{{ filter }}</span>
      </li>
    </ul>
  </div>
</div>

<!-- New Post Panel -->
<div class="new-post-panel" [ngStyle]="{'display': toggleNewPostView === true ? 'block' : 'none'}">
  <button class="close-new-post-panel-btn" (click)="closeNewPost()">x</button>

  <form [formGroup]="newPostForm" (ngSubmit)="submitPost()">
    <h4>Title</h4>
    <input formControlName="title" type="text" placeholder="Title">
    <div *ngIf="newPostSubmitted && newPostForm.get('title').errors" class="invalid-feedback">
      <div *ngIf="newPostForm.get('title').errors.required">A title is required</div>
    </div>
    <h4>Content</h4>
    <textarea formControlName="content" cols="30" rows="10" placeholder="Content"></textarea>
    <select formControlName="tag">
      <option [value]="filter" *ngFor="let filter of filters">{{ filter }}</option>
    </select>
    <input type="submit" value="Post Idea">
  </form>
</div>
