<!-- Top Bar -->
<div class="topBar">
  <h1>Ideas</h1>
</div>

<!-- Posts Feed -->
<div class="postedIdeas">
  <div>
    <div class="searchPanel">
      <div class="dropdown">
        <button class="dropbtn">Arrange By: {{ selectedFilter }}</button>
        <div class="dropdown-content">
          <ul id="filterList">
            <li *ngFor="let arrangedFilter of arrangedFilters">
              <a (click)="selectFilter(arrangedFilter)">{{ arrangedFilter }}</a>
            </li>
          </ul>
        </div>
      </div>

      <form [formGroup]="searchDataForm" id="searchDataForm" (ngSubmit)="search()">
        <input type="text" name="searchText" formControlName="searchText" placeholder="Search">
        <input type="submit" name="searchSubmit" value="See All Results">
        <button>
          <img src="./assets/vectors/downArrow.svg" alt="">
        </button>
      </form>
    </div>
    <ng-template appIdeaAnchor></ng-template>
  </div>

  <div class="sidepanel">
    <button id="postButton" (click)="viewNewPost()">New Post</button>
    <h2>Filters</h2>
    <hr>
    <ul>
      <li *ngFor="let filter of filters">
        <span>{{ filter }}</span>
      </li>
    </ul>
  </div>
</div>

<!-- New Post Panel -->
<div class="newPostPanel" [ngStyle]="{'display': toggleNewPostView === true ? 'block' : 'none'}">
  <button id="closeNewPostPanelBtn" (click)="closeNewPost()">x</button>

  <form [formGroup]="newPostForm" (ngSubmit)="submitPost()">
    <h4>Title</h4>
    <input formControlName="title" type="text" placeholder="Title">
    <div *ngIf="newPostSubmitted && newPostForm.get('title').errors" class="invalid-feedback">
      <div *ngIf="newPostForm.get('title').errors.required">A title is required</div>
    </div>
    <h4>Description</h4>
    <textarea formControlName="description" cols="30" rows="10" placeholder="Description"></textarea>
    <select formControlName="tag">
      <option [value]="filter" *ngFor="let filter of filters">{{ filter }}</option>
    </select>
    <input type="submit" value="Post Idea">
  </form>
</div>