.postPanel {
  margin-top: 60px;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

form ::placeholder{
  font-size: 16px;
}

textarea {
  margin-top: 20px;
  height: 200px;
  border: 2px solid #d1d1d1;
}

textarea:focus {
  border: 2px solid #408DF7;
}

input[type="submit"] {
  background-color: #408DF7;
  color: white;
  padding: 7px 15px;
  margin-top: 15px;
  border-radius: 3px;
  font-size: 16px;
  border: 0;
  transition:color .2s ease-out, background 0.3s ease-in;
}

input[type="submit"]:hover {
  background-color: #0f70f5;
  transition:color .2s ease-out, background 0.3s ease-in;
}

.postedIdeas {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

hr {
  margin: 0;
}

.filterPanel {
  text-align: right;
  margin: 20px;
  padding: 20px;
}
