<div class="container">
  <h1>Ideas</h1>

  <div class="postPanel">
    <h3>Post an Idea</h3>
    <form id="addIdeaForm">
      <input type="text" name="" value="" placeholder="Title">
      <textarea placeholder="Description"></textarea>
      <input type="submit" name="" value="Submit">
    </form>
  </div>

  <div class="postedIdeas">
    <h3>Browse Ideas</h3>

    <div class="filterPanel">
      <h4>Filter By:</h4>
      <select>
        <option value="mostRecent">Most Recent</option>
        <option value="highestRated">Highest Rated</option>
        <option value="trending">Trending</option>
      </select>
    </div>

    <ul>
      <li><app-idea-node></app-idea-node></li>
    </ul>
  </div>
</div>
