h1 {
  margin: 0;
  padding: 50px;
  color: white;
  background-image: linear-gradient(to left, #32CDFE, #00B2FF);
  font-size: 40pt;
  font-weight: 300;
}

.container {
  padding: 30px;
  padding-top: 0;
}

.postPanel {
  margin-top: 60px;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

form::placeholder{
  font-size: 16px;
}

textarea {
  margin-top: 20px;
  height: 200px;
  border: 2px solid #d1d1d1;
  transition:color .2s ease-out, background 0.3s ease-in;
}

textarea:focus, textarea:hover {
  border: 2px solid #408DF7;
  transition:color .2s ease-out, background 0.3s ease-in;
}

input[type="submit"] {
  background-color: #408DF7;
  color: white;
  padding: 7px 15px;
  margin-top: 15px;
  border-radius: 3px;
  font-size: 16px;
  border: 0;
  transition:color .2s ease-out, background 0.3s ease-in;
}

input[type="submit"]:hover {
  background-color: #0f70f5;
  transition:color .2s ease-out, background 0.3s ease-in;
}

.postedIdeas {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

h3 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

hr {
  margin: 0;
}