<div class="chart-top-panel" *ngIf="chart">
    <!-- Fullscreen Button -->
    <i class="material-icons-round" (click)="toggleFullScreen()">{{ screenIcon }}</i>
<!--    &lt;!&ndash; Chart Menu &ndash;&gt;-->
<!--    <button mat-button [matMenuTriggerFor] = "menu">-->
<!--      <i class="material-icons">more_vert</i>-->
<!--    </button>-->
<!--    <mat-menu #menu = "matMenu">-->
<!--      <button mat-menu-item (click)="setAsPrimaryChart(1)">Set as Primary</button>-->
<!--      <button mat-menu-item>Edit</button>-->
<!--      <button mat-menu-item [matMenuTriggerFor] = "sizeChart">Adjust Size</button>-->
<!--      <button mat-menu-item [matMenuTriggerFor] = "moveChart">Move To</button>-->
<!--      <button mat-menu-item (click)="deleteChart(1)">Delete</button>-->
<!--    </mat-menu>-->
<!--    <mat-menu #moveChart = "matMenu">-->
<!--            <ng-container *ngFor="let dashboardNode of this.dashboards; let dashboardIndex = index" [attr.data-index]="dashboardIndex">-->
<!--                <button mat-menu-item *ngIf="dashboardNode.name != dashboard.name" (click)="dashboardService.moveChartToDashboard(this.dashboards, dashboard, dashboardIndex, i)">-->
<!--                  {{ dashboardNode.name }}-->
<!--                </button>-->
<!--            </ng-container>-->
<!--    </mat-menu>-->
<!--    <mat-menu #sizeChart = "matMenu">-->
<!--        <button mat-menu-item (click)="increaseSize(1)">Increase</button>-->
<!--        <button mat-menu-item (click)="decreaseSize(1)">Decrease</button>-->
<!--    </mat-menu>-->
</div>

<!-- Chart Canvas -->
<div *ngIf="chart.data" id="chart">
  <canvas baseChart
    [labels]=chart.labels
    [datasets]="[{
      label: chart.name,
      data: chart.data
    }]"
    [chartType]="chart.type">
  </canvas>
</div>
