@import "../../../variables.scss";

/***********************************
  Main Page Style
***********************************/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: white;
  position: fixed;
  display: flex;
  z-index: 100;
  box-shadow: $main-box-shadow;

  img {
    height: 40px;
    margin: 0 30px;
  }
}

a {
  text-decoration: none;
}

ul {
  flex: 3;
  list-style-type: none;
}

li {
  display: inline-block;
  
  a {
    color: black;
    padding: 14px 16px;
    font-size: 12pt;
    background-color: none;
    text-align: center;
    transition: $main-hover-transition;

    &:hover {
      color: $color-primary;
      transition: $main-hover-transition;
    }
  }
}

.active a {
  color: $color-primary;
  transition: $main-hover-transition;
}

.user-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 30px;

  &:hover {
    filter: brightness(0.8);
  }
}

button a span {
  color: white;
}


/***********************************
  Main Content (Router-Outlet)
***********************************/


.main-content {
  margin-top: 60px;
  text-align: center;
  height: 100%;
  width: 100%;
}

.main-content>* {
  display: block;
}

router-outlet {
  position: relative; // allows animations
  height: 100%;
  width: 100%;
}

router-outlet ~ * {
  position: absolute; // allows animations
}