<nav>
  <img src="./assets/images/clara_icon.png" alt="">

  <ul>
    <!-- Dashboards Nav -->
    <li routerLinkActive="active">
      <a routerLink="dashboardsMain">
        <span>Dashboards</span>
      </a>
    </li>
    <!-- Devices Nav -->
    <li routerLinkActive="active">
      <a routerLink="devices">
        <span>Devices</span>
      </a>
    </li>
    <!-- Datasets Nav -->
    <li routerLinkActive="active">
      <a routerLink="dataset">
        <span>Datasets</span>
      </a>
    </li>
    <!-- Ideas Nav -->
    <li routerLinkActive="active">
      <a routerLink="ideas">
        <span>Ideas</span>
      </a>
    </li>
    <!-- Datasets Nav -->
    <li routerLinkActive="active">
      <a routerLink="lab-services">
        <span>Lab Services</span>
      </a>
    </li>
    <!-- Alexa Nav -->
    <li class="dropdown">
      <button class="dropbtn">Alexa</button>
      <div class="dropdown-content">
        <a routerLink="alexa-help">
          <span>Alexa Info</span>
        </a>
        <a routerLink="alexa-feed">
          <span>Alexa Status</span>
        </a>
      </div>
    </li>
    <!-- Profile Nav -->
    <li routerLinkActive="active">
      <a routerLink="profile">
        <span>Profile</span>
      </a>
    </li>
  </ul>

  <!-- Profile Settings -->
  <button mat-button [matMenuTriggerFor] = "menu">
    <img id="userIcon" src="./assets/images/avatar.png" alt="">
  </button>
  <mat-menu #menu = "matMenu">
    <button mat-menu-item>Edit Profile</button>
    <button mat-menu-item (click)="logout()">Log Out</button>
  </mat-menu>
</nav>

<!-- Routed Elements -->
<div class="mainContent" id="main" (click)="hideNav()">
  <router-outlet #o="outlet"></router-outlet>
</div>