<nav>
  <!-- Clara Icon -->
  <img src="./assets/images/clara_icon.png" alt="">

  <ul>
    <!-- Dashboards Nav -->
    <li routerLinkActive="active">
      <a routerLink="dashboardsMain">
        <span>Dashboards</span>
      </a>
    </li>
    <!-- Devices Nav -->
    <li routerLinkActive="active">
      <a routerLink="devices">
        <span>Devices</span>
      </a>
    </li>
    <!-- Datasets Nav -->
    <li routerLinkActive="active">
      <a routerLink="dataset">
        <span>Datasets</span>
      </a>
    </li>
    <!-- Ideas Nav -->
    <li routerLinkActive="active">
      <a routerLink="ideas">
        <span>Ideas</span>
      </a>
    </li>
    <!-- Datasets Nav -->
    <li routerLinkActive="active">
      <a routerLink="lab-services">
        <span>Lab Services</span>
      </a>
    </li>
    <!-- Alexa Nav -->
    <li routerLinkActive="active">
      <a routerLink="alexa-feed">
        <span>Alexa</span>
      </a>
    </li>
    <!-- Data AR Nav -->
    <li routerLinkActive="active">
      <a routerLink="data-ar">
        <span>Data AR</span>
      </a>
    </li>
  </ul>

  <i class="material-icons-round" (click)="toggleFullScreen()">{{ screenIcon }}</i>
  <i class="material-icons-round">notifications</i>

  <!-- Profile Settings -->
  <button mat-button [matMenuTriggerFor] = "menu">
    <img class="user-icon" src="./assets/images/avatar.png" alt="">
  </button>
  <mat-menu #menu = "matMenu">
    <button mat-menu-item>
        <a routerLink="profile">
          <span>
            <i class="material-icons-round">account_box</i>
            Profile
          </span>
        </a>
      </button>
    <button mat-menu-item (click)="logout()">
      <span>
        <i class="material-icons-round">exit_to_app</i>
        Log Out
      </span>
    </button>
  </mat-menu>
</nav>

<!-- Routed Elements -->
<div class="main-content" ><!--(click)="hideNav()">-->
  <router-outlet #o="outlet"></router-outlet>
</div>
