@import "../../../variables.scss";

.controls {
  margin-top: 10px;
  flex-grow: 1;
}

button {
  border: 0;
  margin: 0 15px;
  border-radius: 3px;
  padding: 7px 15px;
  width: 150px;
  height: 30px;
  background-color: $color-primary;
  color: white;
  transition: $main-hover-transition;

  &:hover {
    background-color: $color-primary-dark;
    transition: $main-hover-transition;
  }
}

.active {
  background-color: $color-primary;
}

.graph {
  margin-top: 10px;
  width: 350px;
  height: 300px;
}

form {
  display: flex;
  margin-bottom: 9%;
}

.dropdown-panels select{
  width: 100%;
}

select {
  margin-bottom: 20px;
  border: 0;
  background-color: $color-primary;
  color: white;
  padding: 7px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: $main-hover-transition;

  &:hover {
    background-color: $color-primary-dark;
    transition: $main-hover-transition;
  }
}

option {
  background-color: white;
  color: black;
}

input[type="submit"] {
  text-align: center;
  margin-top: 20px;
  color: white;
  background-color: #eb3b3b;
  border: 1px solid transparent;
  width: 95%;
  padding: 3px;
  font-size: 14px;
  border-radius: 3px;
  transition: $main-hover-transition;

  &:hover {
    background-color: #d51616;
    transition: $main-hover-transition;
  }
}