<div class="controls">
  <form [formGroup]="liveDataForm" (ngSubmit)="submit()">

    <div class="graph">
      <canvas id="liveChart" width="400" height="400"></canvas>
    </div>

    <div class="dropdownPanels">
      <label for="datasets">Live Dataset</label>
      <br>
      <select formControlName="datasets" id="datasets" (ngModelChange)="onDatasetChange($event)">
        <option selected="selected">None</option>
        <option *ngFor="let dataset of datasets" [ngValue]="dataset">
          {{dataset.name}}
        </option>
      </select>
      <br>
      <label for="fields">Field</label>
      <br>
      <select formControlName="fields" id="fields" (ngModelChange)="onFieldChange($event)">
        <option selected="selected">None</option>
        <option *ngFor="let field of fields" [ngValue]="field">
          {{field}}
        </option>
      </select>
      <br>
      <label for="devices">Device</label>
      <br>
      <select formControlName="devices" id="devices" (ngModelChange)="onDeviceChange($event)">
        <option *ngFor="let device of devices" [ngValue]="device">
          {{device.deviceid}}
        </option>
      </select>
      <input type="submit" value="Add Graph To Dashboard">
    </div>
  </form>
</div>
