<div class="controls">
  <form [formGroup]="liveDataForm" (ngSubmit)="submit()">

    <div class="graph">
      <canvas id="live-chart" width="400" height="400"></canvas>
    </div>

    <div class="dropdown-panels">
      <label>Device</label>
      <br>
      <select formControlName="devices" (ngModelChange)="onDeviceChange()">
        <option *ngFor="let device of devices" [ngValue]="device">
          {{device.uuid}}
        </option>
      </select>
      <br>
      <label>Field</label>
      <br>
      <select formControlName="fields" (ngModelChange)="onFieldChange($event)">
        <option *ngFor="let field of fields">
          {{field}}
        </option>
      </select>
      <input type="submit" value="Add Graph To Dashboard">
    </div>
  </form>
</div>
