<nav>
  <img src="./assets/vectors/dashboard-icon.svg" alt="">
  <h2>Dashboards</h2>
  <hr>
  <ul>
    <li *ngFor="let dashboard of _dashboardService.getDashboards()" routerLinkActive="active">
      <a [routerLink]="['/main/dashboardsMain/dashboard', dashboard.name]">
        <span>{{ dashboard.name + " Dashboard"}}</span>
      </a>
    </li>
  </ul>
  <button id="addDashboardBtn" (click)="addDashboard()">Add Dashboard</button>
</nav>
  
<!-- Routed Elements -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>