/***********************************
  Main Page Style
***********************************/

nav {
  z-index: 5;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  width: 15%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.3);
  position: fixed;
  text-align: center;
}

nav img {
  margin-top: 7vh;
  width: 35%;
}

h2 {
  font-size: 3vh;
  font-weight: 500;
  margin-bottom: 5vh;
}

hr {
  border: 0;
  height: 1px;
  margin: 6vh auto;
  background-color: #ECECEC;
  width: 80%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5vh;
  height: 45vh;
  width: 100%;
  overflow: auto;
  text-align: center;
}

li a {
  border-radius: 3px;
  margin: 15px;
  padding: 6%;
  text-align: center;
  display: block;
  font-size: 2vh;
  font-weight: 500;
  text-decoration: none;
  color: #3c4858;
  transition:color .2s ease-out, background 0.3s ease-in;
  cursor: pointer;
}

li a img {
  height: 20px;
  margin-right: 10%;
  margin-bottom: -3%;
  max-width:13%; 
  height:auto;
  display: none;
}

i {
  margin-top: 2%;
}

a:focus {
  outline:none;
}

.active a {
  color: white;
  background-color: #00B2FF;
  box-shadow: 0px 5px 16px 0px rgba(0, 178, 255, 0.4);
}

i {
  float: right;
}

li {
  position: relative;
}

li:hover:not(.active) a {
  background-color: rgb(235, 235, 235);
  transition:color .2s ease-out, background 0.3s ease-in;
}

#addDashboardBtn {
  background: none;
  color: #00B2FF;
  border: 2px solid #00B2FF;
  padding: 2% 4%;
  transition:color .2s ease-out, background 0.3s ease-in;
}

#addDashboardBtn:hover {
  color: white;
  background-color: #00B2FF;
  transition:color .2s ease-out, background 0.3s ease-in;
}


/***********************************
  Main Content (Router-Outlet)
***********************************/


.main-content {
  margin-left: 15%;
  text-align: center;
  height: 100%;
  width: 85%;
}

.main-content>* {
  display: block;
}

router-outlet {
  position: relative; // allows animations
  height: 100%;
  width: 100%;
}

router-outlet ~ * {
  position: absolute; // allows animations
}