<div class="ideaNodeContainer">
  <div id="mainContent">
    <div>
      <img [src]="imgPath" alt="">
      <h5 style="margin-right:18px;text-align:center;">{{ authorName }}</h5>
    </div>
    <div>
      <h4>{{ title }}</h4>
      <p>{{ description }}</p>
    </div>
    <div id="votePanel">
      <button id="upButton" (click)="upvote()">
        <svg width="22.5px" height="30px" viewBox="0 0 50 80" xml:space="preserve">
          <polyline [ngStyle]="{'stroke': voted === 1 ? '#40f7aa' : 'black'}" fill="none" stroke-width="3"
            stroke-linecap="round" stroke-linejoin="round" points="45.63,75.8 0.375,38.087 45.63,0.375 " />
        </svg>
      </button>
      <br>
      <h5 [ngStyle]="{'color': numVotes < 0 ? '#eb3b3b' : 'black'}">{{ numVotes }}</h5>
      <button id="downButton" (click)="downvote()">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22.5px" height="30px"
          viewBox="0 0 50 80" xml:space="preserve">
          <polyline [ngStyle]="{'stroke': voted === 2 ? '#eb3b3b' : 'black'}" fill="none" stroke-width="3"
            stroke-linecap="round" stroke-linejoin="round" points="0.375,0.375 45.63,38.087 0.375,75.8 " />
        </svg>
      </button>
    </div>
  </div>
  <div class="bottomPanel">
    <h5>{{ tag }}</h5>
    <button type="button" name="button" class="commentBtn" (click)="viewComments()" style="float:left;">Comments
      ({{ numComments }})</button>
  </div>
</div>

<!-- TODO: Add comments to post class -->
<div id="commentPanel">
  <ul class="comments">
    <li></li>
  </ul>
  <form>
    <input type="text" placeholder="comment">
  </form>
</div>