.component-container {
  margin: 10px;
  text-align: left;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
  margin-bottom: 30px;
}

img {
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.post-text {
  width: 80%;
}

.idea-node-container {
  h4 {
    font-size: 20pt;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    text-align: justify;
    max-height: 100px;
    overflow-y: auto;
    font-size: 10pt;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
  }

  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
  }
}

.main-content {
  display: flex;
}

.vote-panel {
  text-align: center;
  margin-left: 40px;
  margin-top: 30px;
}

button:hover {
  cursor: pointer;
}

svg {
  transform: rotate(90deg);
}

polyline {
  fill:none;
  stroke-width:3px;
  stroke: black;
}

.idea-node-container h5 {
  margin: 0;
  padding: 0;
}

/************************
  Comment / Tag Panel
************************/

.bottom-panel {
  display: flex;
  justify-content: space-between;
}

.comment-btn {
  color: #408DF7;
  transition:color .2s ease-out, background 0.3s ease-in;
  margin-right: 80px;
}

.comment-btn:hover {
  font-weight: bold;
  color: #0f70f5;
  transition:color .2s ease-out, background 0.3s ease-in;
}

.comments {
  border-top: 1px solid #EFEFEF;
  padding: 15px;
  text-align: justify;
}

form {
  text-align: center;
}

input {
  border: 0;
  background-color: #EFEFEF;
  color: black;
  border-radius: 7px;
  padding: 10px 20px;
  transition:color .2s ease-out, background 0.3s ease-in;
}

input[type="submit"] {
  margin-left: 20px;
  background-color: #408DF7;
  color: white;
}

input[type="submit"]:hover {
  background-color: #0f70f5;
  transition:color .2s ease-out, background 0.3s ease-in;
}

input[type="text"]:hover {
  background-color: #EAEAEA;
  transition:color .2s ease-out, background 0.3s ease-in;
}

li {
  margin: 10px;
}

.show {
  display: block; 
  animation: openComment 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.hide {
  display: none;
}


/***********************************
  Mobile CSS
***********************************/

@media screen and (orientation: portrait) {
  .main-content img, h5 {
    display: none;
  }

  .post-text {
    width: 100%;
  }

  .component-container {
    padding: 8%;
  }

  .idea-node-container {
    h4 {
      text-align: center;
      font-size: 5vw;
    }

    p {
      text-align: justify;
      font-size: 3vw;
      padding: 0;
    }
  }

  .vote-panel {
    display: none;
  }
}
