<mat-card class="col-left">

  <mat-card-actions>
      <button mat-stroked-button color="warn" class = 'close'>CLOSE</button>
      <button mat-button class="close"><mat-icon>thumb_down</mat-icon></button>
      <h3 class='score'>0</h3>
      <button mat-button class='close'><mat-icon>thumb_up</mat-icon></button>
  </mat-card-actions>

  <mat-card-header>
    <div mat-card-avatar><img src="assets/images/avatar.png" alt=""></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Author Name</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>

    <p class = 'comment'>
      Open Comments
    </p>
  </mat-card-content>
  

</mat-card>