@import "../../../variables.scss";


.col-left {
  text-align: justify;
  width: 100%;
  height:auto !important;
  margin-left: 1%;
  margin-bottom: 1%;
}

.close {
  float: right;
}

.score {
  float: right;
  margin: 0 0 0 0 !important;
  line-height: 36px;
}

img {
  border-radius: 50%;
  width: 100%;
}

.component-container {
  text-align: left;
  padding: 30px;
  border-radius: 5px;
  background-color: white;
  box-shadow: $main-box-shadow;
  margin: 10px 10px 30px;
}

polyline {
  fill:none;
  stroke-width:3px;
  stroke: black;
}

.idea-node-container h5 {
  margin: 0;
  padding: 0;
}

/************************
  Comment / Tag Panel
************************/

.bottom-panel {
  display: flex;
  justify-content: space-between;
}

.comments {
  border-top: 1px solid #EFEFEF;
  padding: 15px;
  text-align: justify;
}

.hide {
  display: none;
}


/***********************************
  Mobile CSS
***********************************/

@media screen and (orientation: portrait) {
  .main-content img, h5 {
    display: none;
  }

  .post-text {
    width: 100%;
  }

  .component-container {
    padding: 8%;
  }

  .idea-node-container {
    h4 {
      text-align: center;
      font-size: 5vw;
    }

    p {
      text-align: justify;
      font-size: 3vw;
      padding: 0;
    }
  }

  .vote-panel {
    display: none;
  }
}
