.ideaNodeContainer {
  margin: 10px;
  text-align: left;
}

img {
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.ideaNodeContainer h4 {
  font-size: 20pt;
  margin: 0;
  margin-bottom: 10px;
}

.ideaNodeContainer p {
  text-align: justify;
  max-height: 100px;
  overflow-y: auto;
  font-size: 10pt;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
}

#mainContent {
  display: flex;
}

#votePanel {
  text-align: center;
  margin-left: 40px;
  margin-top: 30px;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

svg {
  transform: rotate(90deg);
}

.ideaNodeContainer button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

polyline {
  fill:none;
  stroke-width:3px;
  stroke: black;
}

.ideaNodeContainer h5 {
  margin: 0;
  padding: 0;
}

/************************
  Comment / Tag Panel
************************/

.bottomPanel {
  display: flex;
  justify-content: space-between;
}

.commentBtn {
  color: #408DF7;
  transition:color .2s ease-out, background 0.3s ease-in;
  margin-right: 80px;
}

.commentBtn:hover {
  font-weight: bold;
  color: #0f70f5;
  transition:color .2s ease-out, background 0.3s ease-in;
}

#commentPanel {
  animation: fadein 2s;
}

.comments {
  border-top: 1px solid #EFEFEF;
  padding: 15px;
  text-align: justify;
}

input {
  border: 0;
  background-color: #EFEFEF;
  color: black;
  border-radius: 7px;
  padding: 10px 20px;
  transition:color .2s ease-out, background 0.3s ease-in;
}

input[type="submit"] {
  margin-left: 20px;
  background-color: #408DF7;
  color: white;
}

input[type="submit"]:hover {
  background-color: #0f70f5;
  transition:color .2s ease-out, background 0.3s ease-in;
}

input[type="text"]:hover {
  background-color: #EAEAEA;
  transition:color .2s ease-out, background 0.3s ease-in;
}

li {
  margin: 10px;
}