<h2> {{ name + " Dashboard" }} </h2>

<div id="mainChart">
  <!-- Main Chart Canvas -->
  <canvas baseChart
    [datasets]="dashboard.mainChart.data"
    [labels]="dashboard.mainChart.labels"
    [chartType]="dashboard.mainChart.type">
  </canvas>
</div>

<ul>
  <li *ngFor="let chart of dashboard.charts; let i = index" [attr.data-index]="i">
    <!-- Chart Menu -->
    <button mat-button [matMenuTriggerFor] = "menu">
      <i class="material-icons">more_vert</i>
    </button>
    <mat-menu #menu = "matMenu">
       <button mat-menu-item (click)="deleteChart(i)">Delete</button>
       <button mat-menu-item>Open</button>
       <button mat-menu-item [matMenuTriggerFor] = "moveChart">Move To</button>
    </mat-menu>
    <mat-menu #moveChart = "matMenu">
       <button mat-menu-item *ngFor="let dashboard of dashboards">{{ dashboard }}</button>
    </mat-menu>

    <!-- Chart Canvas -->
    <canvas baseChart
      [datasets]="chart.data"
      [labels]="chart.labels"
      [chartType]="chart.type">
    </canvas>
    <!-- add options based on chart type (options getter function that is passed the chart.type value) -->
  </li>
</ul>