@import "~@angular/material/prebuilt-themes/purple-green.css";

h1 {
  margin: 50px;
}

#mainChart {
  margin: 80px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
}

ul {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  padding: 0;
  list-style-type: none;
  justify-content: space-around;
  align-content: space-around;
  flex-flow: row wrap;
}

li {
  width: auto;
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
}

.chart-top-panel {
  display: flex;
  margin-top: -15px;
}

.chart-top-panel h2 {
  width: 95%;
  text-align: left;
  font-weight: 500;
}

li button {
  margin-right: -30px;
  margin-top: 15px;
  padding: 0;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .ul {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .ul {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}