<div class="name-settings-panel">
  <h1> {{ name + " Dashboard" }} </h1>
  <button id="add-chart-btn" (click)="toggleAddChartPanel()">
    <i class="material-icons-round">add_circle</i>
  </button>

  <!-- Dashboard Settings Menu -->
  <ng-container *ngIf="dashboard.name != 'Main'">
    <button mat-button [matMenuTriggerFor] = "settingsMenu">
      <i class="material-icons-round">settings</i>
    </button>
    <mat-menu #settingsMenu = "matMenu">
      <button mat-menu-item>Rename</button>
      <button mat-menu-item (click)="_dashboardService.removeDashboard(dashboard)">Delete</button>
    </mat-menu>
  </ng-container>
</div>

<div class="add-chart-panel" [ngStyle]="{'display':displayAddChartPanel === false ? 'none' : 'block'}">
  <app-graph-panel></app-graph-panel>
</div>

<div id="mainChart">
  <div class="chart-top-panel">
    <h2>{{ dashboard.mainChart.name }}</h2>
    <div>
      <!-- Chart Menu -->
      <button mat-button [matMenuTriggerFor] = "menu">
        <i class="material-icons">more_vert</i>
      </button>
      <mat-menu #menu = "matMenu">
        <button mat-menu-item>Edit</button>
        <button mat-menu-item [matMenuTriggerFor] = "moveChart">Move To</button>
        <button mat-menu-item>Delete</button>
      </mat-menu>
      <mat-menu #moveChart = "matMenu">
        <button mat-menu-item *ngFor="let dashboard of _dashboardService.getDashboards()">{{ dashboard.name }}</button>
      </mat-menu>
    </div>
  </div>
  <!-- Main Chart Canvas -->
  <canvas baseChart
    [datasets]="dashboard.mainChart.data"
    [labels]="dashboard.mainChart.labels"
    [chartType]="dashboard.mainChart.type">
  </canvas>
</div>

<ul>
  <li *ngFor="let chart of dashboard.charts; let i = index" [attr.data-index]="i">
    <div class="chart-top-panel">
      <h2>{{ chart.name }}</h2>
      <div>
        <!-- Chart Menu -->
        <button mat-button [matMenuTriggerFor] = "menu">
          <i class="material-icons">more_vert</i>
        </button>
        <mat-menu #menu = "matMenu">
          <button mat-menu-item (click)="setAsPrimaryChart(i)">Set as Primary</button>
          <button mat-menu-item>Edit</button>
          <button mat-menu-item [matMenuTriggerFor] = "moveChart">Move To</button>
          <button mat-menu-item (click)="deleteChart(i)">Delete</button>
        </mat-menu>
        <mat-menu #moveChart = "matMenu">
          <ng-container *ngFor="let dashboardNode of _dashboardService.getDashboards(); let dashboardIndex = index" [attr.data-index]="dashboardIndex">
              <button mat-menu-item *ngIf="dashboardNode.name != dashboard.name" (click)="_dashboardService.moveChartToDashboard(dashboard, dashboardIndex, i)">
                {{ dashboardNode.name }}
              </button>
          </ng-container>
        </mat-menu>
      </div>
    </div>

    <!-- Chart Canvas -->
    <canvas baseChart
      [datasets]="chart.data"
      [labels]="chart.labels"
      [chartType]="chart.type">
    </canvas>
    <!-- add options based on chart type (options getter function that is passed the chart.type value) -->
  </li>
</ul>