h1 {
	margin: 0;
	padding: 4% 0;
	color: white;
	font-size: 4vw;
	font-weight: 300;
	background-image: linear-gradient(to left, #32CDFE, #00B2FF);
}

h3 {
	font-size: 2vw;
	font-weight: 400;
}

.container {
	text-align: center;
	margin-top: 3%;
}

.subcontainer {
	display: flex;
	margin: auto;
  width: 95%;
  padding-bottom: 5%;
}

.feedPanel {
	background: white;
	border-radius: 7px;
	width: 65%;
	margin-right: 3%;
	padding: 3.5%;
}

.messageContainer {
	text-align: left;
	margin-top: 5.5%;
	margin-left: 25%;
}

ul {
	list-style-type: none;
	width: 65%;
  margin-right: 5%;
  padding-right: 6%;
  height: 40vh;
	overflow-y: auto;
}

li:nth-child(1) { animation-delay: .5s }
li:nth-child(2) { animation-delay: 1s }
li:nth-child(3) { animation-delay: 1.5s }
li:nth-child(4) { animation-delay: 2s }

li {
	opacity: 0;
	border-radius: 30px 30px 30px 0;
	padding: 5%;
	color: white;
	background-color: #00B2FF;
  margin-bottom: 5%;
  font-size: 1vw;
	animation-name: msg1;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

.feedPanel img {
	width: 15%;
}

.liveStatsPanel {
	background: white;
	border-radius: 7px;
	width: 32%;
	padding: 3.5%;
}



@keyframes msg1 {
  0% {
		opacity:100;
    top: calc(var(--msg-content-height) - var(--msg1-height));
    left: -4em;
    transform: scale(0);
  }
  5% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
    left: 0;
    transform: scale(1);
  }
  12% {
    top: calc(var(--msg-content-height) - var(--msg1-height));
  }
  17% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
  }
  30% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height));
  }
  35% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
  }
  49% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height));
  }
  54% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  70% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height));
  }
  75% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  95% {
    top: calc(var(--msg-content-height) - var(--msg1-height) - var(--msg-spacing) - var(--msg2-height) - var(--msg-spacing) - var(--msg3-height) - var(--msg-spacing) - var(--msg4-height) - var(--msg-spacing) - var(--msg5-height));
  }
  100% {
		opacity:100;
    top: 0;
    left: 0;
  }
}
