<h1 mat-dialog-title>Post New Idea</h1>
<div mat-dialog-content class="content">

    <form [formGroup]='newPostForm'>
        <mat-form-field>
            <input matInput type="text" formControlName="title" placeholder="Post Title">
        </mat-form-field>
        <br>
        <mat-form-field>
            <textarea matInput formControlName="content" placeholder="Post Content"></textarea>
        </mat-form-field>
        <br>
        <mat-label>Select a Category</mat-label>
        <mat-select formControlName="tags" aria-label="Post Tags" multiple>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let filter of this.ideaService.getFilters()" [value]="filter" >{{ filter }}</mat-option>
        </mat-select>

        <div mat-dialog-actions>
            <button mat-button [mat-dialog-close]>Cancel</button>
            <button mat-raised-button type="submit" [disabled]="!newPostForm.valid" [mat-dialog-close]=newPostForm.value>Submit</button>
        </div>
    </form>

</div>

