@import "../../../variables.scss";

.add-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-dialog-actions {
  padding: 0;
}

button {
  background-color: #32CDFE;
  transition: $main-hover-transition;

  &:hover {
    background-color: $color-primary;
    transition: $main-hover-transition;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.active {
  background-color: $color-primary;
}

.close-btn {
  background-color: #eb3b3b;
  transition: $main-hover-transition;

  &:hover {
    background-color: #d51616;
    transition: $main-hover-transition;
  }
}
