@import "../../../variables.scss";

.graph-panel-container {
  display: flex;
}

.tab-icon {
  margin-right: 2%;
}

mat-dialog-actions {
  padding: 0;
}

h4 {
  margin: 0;
}

h3 {
  margin: 0;
  text-align: center;
}

.controls {
  margin: 2% 2% 0 0;
}

.graph {
  height: 40vh;
  width: 45vw;
}

button {
  background-color: #32CDFE;
  transition: $main-hover-transition;

  &:hover {
    background-color: $color-primary;
    transition: $main-hover-transition;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.active {
  background-color: $color-primary;
}

.close-btn {
  background-color: #eb3b3b;
  transition: $main-hover-transition;

  &:hover {
    background-color: #d51616;
    transition: $main-hover-transition;
  }
}
