@import "../../../variables.scss";


/***********************************
  Main Page Style
***********************************/

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: $nav-bar-width;
  width: 100vw - $nav-bar-width;
  height: $top-bar-height;
  background-color: white;
  z-index: 100;
  box-shadow: $main-box-shadow;

  i:first-child {
    margin-left: auto;
  }

  i:hover {
    cursor: pointer;
  }

  button {
    height: 100%;

    .user-icon {
      height: $top-bar-height * 0.7;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
}


.nav-top {
  background-color: $color-nav-top;
  text-align: center;
  color: #F5F5F5;
  padding: 1.5vh;
  margin-bottom: 3vh;
  height: 18vh;

  .top-icon-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .clara-icon {
      height: 2.5vh;
      filter: invert(0.65);
    }

    i {
      font-size: 2.5vh
    }
  }

  .profile-thumbnail {
    margin: 4vh 0;

    h3, h5 {
      font-weight: 400;
      font-size: 1.8vh;
      margin: 0.8vh;
    }

    h5 {
      font-size: 1.4vh;
      color: #8E8F93;
    }

    img {
      margin-top: 2vh;
      width: 35%;
      border-radius: 50%;
      border: 1vh solid  $color-nav;
    }
  }
}

// NAVBAR
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-bar-width;
  height: 100%;
  background-color: $color-nav;
  overflow-x: hidden;

  i {
    color: #8E8F93;
    padding: 0;
    font-size: 1.5vh;
    transition: $main-hover-transition;

    &:hover {
      cursor: pointer;
      color: white;
      transition: $main-hover-transition;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;

    .dashboard-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 2vw;

      button {
        background: none;
        border: 0;
      }
    }

    .nav-header {
      padding-left: $nav-item-side-padding;
      color: #8E8F93;
      font-size: 1.4vh;
      font-weight: 400;
      margin: 10px 0;

      &:hover {
        cursor: default;
      }
    }

    li {
      a {
        display: flex;
        align-items: center;
        padding: 10px $nav-item-side-padding;
        color: #F5F5F5;
        font-size: 1.6vh;
        text-decoration: none;
        transition: $main-hover-transition;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
          transition: $main-hover-transition;
        }

        &:focus {
          outline: none;
        }

        i {
          color: #F5F5F5;
          margin-right: 10px;
        }
      }
    }
  }
}

.active {
  background-color: $color-primary-dark;
  margin-right: 5%;
  border-radius: 0 50px 50px 0;
}


/***********************************
  Main Content (Router-Outlet)
***********************************/


.main-content {
  margin-left: $nav-bar-width;
  text-align: center;
  height: 100%;
  width: 100vw - $nav-bar-width;
}

.main-content>* {
  display: block;
}

router-outlet {
  position: relative; // allows animations
  height: 100%;
  width: 100%;
}

router-outlet ~ * {
  position: absolute; // allows animations
}


/***********************************
  Mobile CSS
***********************************/


.mobile {
  .top-bar {
    position: fixed;
    margin-left: 0;
    width: 100%;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);

    i:first-child {
      margin-left: 0;
      margin: 10px;
      float: left;
    }

    i:not(:first-child) {
      display: none;
    }
    
    button {
      float: right;
      
      span {
        display: none;
      }
    }
  }

  nav {
    width: 0;
    transition:  .5s;
  }

  .main-content {
    margin-left: 0;
    padding-top: $top-bar-height;
    width: 100%;
    transition: margin-left .5s;
  }
}