h1 {
  font-weight: 400;
  font-size: 400%;
  margin-bottom: 90px;
  opacity: 0;
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 2s ease-in 1 normal forwards;
       -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.leftContainer {
  //background-color: white;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  padding: 50px;
  padding-left: 100px;
  height: 87%;
  width: 50%;
}

.loginContainer {
  width: 400px;
  opacity: 0;
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 2s ease-in 1 normal forwards;
       -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -webkit-animation-delay: 500ms;
     -moz-animation-delay: 500ms;
       -o-animation-delay: 500ms;
          animation-delay: 500ms;
}

input, button {
  border: 0;
  padding: 12px 15px;
  border-radius: 6px;
  font-size: 18px;
}

input::placeholder {
  color: #989898;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.btnContainer {
  width: 107%;
  display: flex;
  justify-content: center;
}

input[type="text"], input[type="email"], input[type="password"] {
  background-color: #efefef;
  margin: 0;
  width: 100%;
}

input:not([type="submit"]) {
  margin-bottom: 20px;
}

input:focus, button:focus {
  outline: none;
}

input[type="submit"], button {
  color: white;
  background-image: linear-gradient(to bottom left, #00B2FF, #32CDFE);
  width: 55%;
}

input[type="submit"]:hover, #signUpBtn:hover {
  background-image: linear-gradient(to bottom left, #0099FF, #0FC0FC);
  cursor: pointer;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
  background-color: #DFDFDF;
}

.invalid-feedback {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  color: #EB3B3B;
}

button {
  margin: 0;
}

.textBtn {
  background: none;
  color: #00B2FF;
  padding: 0;
  margin: 15px;
  margin-left: 15px;
  width: 170px;
}

.textBtn:hover {
  color: #0099FF;
  transition: color 0.3s ease 0s;
  cursor: pointer;
}

.rightContainer {
  padding: 0;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.rightContainer img {
  margin-top: 12%;
  margin-bottom: 20px;
  width: 50%;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

#thumbnail {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 12%;
  margin-left: 55px;
  margin-bottom: 25px;
}

.background {
  right: 0;
  width: 70%;
  position: fixed;
  z-index: -1;
}

/******************************
  Form Visibility / Animations
******************************/

#signUpForm {
  display: none;
}

#forgotPWForm {
  display: none;
}