h1 {
  font-weight: 400;
  font-size: 4vw;
  margin-bottom: 10%;
  opacity: 0;
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 2s ease-in 1 normal forwards;
       -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.leftContainer {
  //background-color: white;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  padding: 4%;
  padding-left: 8%;
  height: 85%;
  width: 50%;
}

.loginContainer {
  width: 60%;
  opacity: 0;
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 2s ease-in 1 normal forwards;
       -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -webkit-animation-delay: 500ms;
     -moz-animation-delay: 500ms;
       -o-animation-delay: 500ms;
          animation-delay: 500ms;
}

input, button {
  border: 0;
  padding: 3% 5%;
  border-radius: 6px;
  font-size: 1.2vw;
}

input::placeholder {
  color: #989898;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
}

.btnContainer {
  width: 110%;
  display: flex;
  justify-content: center;
}

.btnContainer input {
  margin-right: 5%;
}

input[type="text"], input[type="email"], input[type="password"] {
  background-color: #efefef;
  margin: 0;
  width: 100%;
}

input:not([type="submit"]) {
  margin-bottom: 5%;
}

input:focus, button:focus {
  outline: none;
}

input[type="submit"], button {
  color: white;
  background-image: linear-gradient(to bottom left, #00B2FF, #32CDFE);
  width: 55%;
}

input[type="submit"]:hover, #signUpBtn:hover {
  background-image: linear-gradient(to bottom left, #0099FF, #0FC0FC);
  cursor: pointer;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
  background-color: #DFDFDF;
}

.invalid-feedback {
  font-size: 12pt;
  margin: 0;
  padding: 0;
  color: #EB3B3B;
}

button {
  margin: 0;
}

.textBtn {
  background: none;
  color: #00B2FF;
  padding: 0;
  margin: 4%;
  width: 50%;
}

.textBtn:hover {
  color: #0099FF;
  transition: color 0.3s ease 0s;
  cursor: pointer;
}

.rightContainer {
  padding: 0;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.rightContainer img {
  margin-top: 12%;
  margin-bottom: 3%;
  width: 50%;
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.5vw;
  font-weight: 500;
}

#thumbnail {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 12%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.background {
  right: 0;
  height: 100%;
  position: fixed;
  z-index: -1;
}

/******************************
  Form Visibility / Animations
******************************/

#signUpForm {
  display: none;
}

#forgotPWForm {
  display: none;
}


/******************************
  Portrait Mode CSS
******************************/

@media screen and (orientation: portrait) {

  .rightContainer {
    display: none;
  }

  .background {
    display: none;
  }

  .leftContainer {
    width: 84%;
    padding: 4%;
    text-align: center;
  }

  h1 {
    width: 90%;
    font-size: 12vw;
    margin: 10%;
  }

  .loginContainer {
    width: 100%;
  }

  .btnContainer {
    display: block;
  }

  .btnContainer input {
    margin: 0;
  }

  input, button {
    margin: 5%;
    font-size: 5vw;
  }

  input::placeholder {
    font-size: 5vw;
  }

  #thumbnail {
    width: 40%;
    margin: 0;
    position: static;
  }
}