<mat-expansion-panel>
  <mat-expansion-panel-header>
      {{ card.name }}
  </mat-expansion-panel-header>
  <div class="col-left">
    <div class="col-left">
      <p><strong>Pilot Description</strong><br></p>
      <p> {{ card.description }} </p>
      <p> Start Date: {{ card.start }}</p>
      <p> End Date: {{ card.end }} </p>
    </div>

    <div class="col-left">
      <p><strong>Pilot Progress</strong></p>
      <mz-progress
          [backgroundClass]="'blue lighten-4'"
          [percentage]= "percentage"
          [progressClass]="'blue'">
      </mz-progress>
    </div>

    <div class="col-left">
      <p><strong>Pilot Objectives</strong></p>
      <div class="check">
          <mat-checkbox (change) = "checkValue($event)"> This is the first objective of the pilot. </mat-checkbox>
          <br>
          <mat-checkbox (change) = "checkValue($event)"> This is the second objective of the pilot. </mat-checkbox>
          <br>
          <mat-checkbox (change) = "checkValue($event)"> This is the third objective of the pilot. </mat-checkbox>
      </div>
    </div>

    <div class="col-left">
      <p><strong>Additional Information</strong><br></p>
      <p>Budget: ${{ card.budget }}</p> 
      <p>Contact: {{ card.contact }}</p> 
      <p>Stakeholders: {{ card.stakeholders.length }}</p>
      <p *ngFor="let person of card.stakeholders">{{ person }}</p>
    </div>
  </div>
</mat-expansion-panel>
