<mat-expansion-panel>
  <mat-expansion-panel-header>
      {{ pilot.name }}
  </mat-expansion-panel-header>
  <div class="col-left">
    <div class="col-left">
      <p><strong>Pilot Description</strong><br></p>
      <p> {{ pilot.description }} </p>
      <p> Start Date: {{ pilot.start }}</p>
      <p> End Date: {{ pilot.end }} </p>
    </div>

    <div class="col-left">
      <p><strong>Pilot Progress</strong></p>
      <mz-progress
          [backgroundClass]="'blue lighten-4'"
          [percentage]= "percentage"
          [progressClass]="'blue'">
      </mz-progress>
    </div>

    <div class="col-left">
      <p><strong>Pilot Objectives</strong></p>
      <div class="check" *ngFor="let objective of pilot.objective.items">
          <mat-checkbox (change) = "checkValue($event)" [checked]="objective.state" [id]="objective.id"> {{ objective.content }} </mat-checkbox>
          <br>
      </div>
    </div>

    <div class="col-left">
      <p><strong>Additional Information</strong><br></p>
      <p>Budget: ${{ pilot.budget }}</p> 
      <p>Contact: {{ pilot.contact }}</p> 
      <p>Stakeholders:</p>
      <ul>
        <li *ngFor="let person of pilot.stakeholders">• {{ person }}</li>
      </ul>
    </div>
  </div>
</mat-expansion-panel>
