/***********************************
  Main Page Style
***********************************/

.sidebarDiv {
  z-index: 3;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 100%;
  background-color: #24344B;
  position: fixed;
  overflow: hidden;
  text-align: center;
}

.sidebar-user-panel img {
  width: 130px;
  border-radius: 50%;
}

.sidebar-user-panel h3 {
  color: white;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
  font-size: 14pt;
}

.sidebar-user-panel p {
  color: white;
  font-weight: 300;
  margin: 0;
  margin-bottom: 60px;
  font-size: 10pt;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  text-align: center;
}

li a {
  display: block;
  cursor: pointer;
}

li:not(:first-child) {
  margin: 20px;
  text-align: left;
}

a {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14pt;
  text-decoration: none;
  color: #bdbdc9;
}

a:hover {
  color: #32CDFE;
}

a:focus {
  outline:none;
}

.active a {
  color: #32CDFE;
}

#logOutBtn {
  margin-top: 50px;
  text-align: center;
  border: 0;
  color: white;
  background: none;
}

/***********************************
  Main Content (Router-Outlet)
***********************************/


.mainContent {
  position: relative;
  margin-left: 260px;
  text-align: center;
}

.mainContent>* {
  display: block;
}
