<div class="mobileTopBar" id="topBar" style="display: none;">
  <i class=" fa fa-bars" (click)="toggleNav()"></i>
</div>

<div class="sidebarDiv" [ngClass]="{'show' : navDisplayed, 'hide' : !navDisplayed}">
  <ul>
    <!-- Profile Info -->
    <li class="noHover">
      <div class="sidebar-user-panel">
        <img [src]="user.pictureSrc" />
        <h3>{{ user.name }}</h3>
        <p>{{ user.title }}</p>
      </div>
    </li>
    <!-- Dashboards Nav -->
    <li routerLinkActive="active">
      <a routerLink="dashboardSplash">
        <img src="/assets/vectors/dashboardIcon.svg">
        <span>Dashboard</span>
        <i class="fa fa-angle-down custom"></i>
      </a>
      <ul class="dropdown">
        <li routerLinkActive="active">
          <a routerLink="personalDashboard">
            <span>My Dashboard</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="sharedDashboards">
            <span>Shared Dashboards</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Datasets Nav -->
    <li routerLinkActive="active">
      <a routerLink="dataset">
        <img src="/assets/vectors/datasetsIcon.svg">
        <span>Datasets</span>
      </a>
    </li>

    <!-- Alexa Feed Nav -->
    <li routerLinkActive="active">
      <a routerLink="alexa-help">
        <img src="/assets/vectors/alexaFeedIcon.svg">
        <span>Alexa: Ask Clara</span>
        <i class="fa fa-angle-down custom"></i>
      </a>
      <ul class="dropdown">
        <li routerLinkActive="active">
          <a routerLink="alexa-help">
            <span>Things You Can Ask</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="alexa-feed">
            <span>Status</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Ideas Nav -->
    <li routerLinkActive="active">
      <a routerLink="ideas">
        <img src="/assets/vectors/ideasIcon.svg">
        <span>Ideas</span>
      </a>
    </li>

    <!-- Lab Services Nav -->
    <li routerLinkActive="active">
      <a routerLink="lab-services">
        <img src="/assets/vectors/labServicesIcon.svg">
        <span>Lab Services</span>
      </a>
    </li>

    <!-- Profile Nav -->
    <li routerLinkActive="active">
      <a routerLink="profile">
        <img src="/assets/vectors/profileIcon.svg">
        <span>Profile</span>
      </a>
    </li>
  </ul>

  <a routerLink="dashboardSplash">
    <img src="/assets/images/clara-logo-lrg.png" alt="Clara" id="siteIcon">
  </a>
</div>

<!-- Routed Elements -->
<div class="mainContent" id="main" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</div>