<div class="sidebarDiv">

  <img src="/assets/images/clara-logo-lrg.png" alt="Clara" id="siteIcon">

  <ul>
    <!-- Dashboards Nav -->
    <li routerLinkActive="active">
      <a routerLink="dashboardSplash">
        <img src="/assets/vectors/dashboardIcon.svg">
        <span>Dashboard</span>
        <i class="fa fa-angle-down custom"></i>
      </a>
      <ul class="dropdown">
        <li routerLinkActive="active">
          <a routerLink="personalDashboard">
            <span>My Dashboard</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="sharedDashboards">
            <span>Shared Dashboards</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Datasets Nav -->
    <li routerLinkActive="active">
      <a>
        <img src="/assets/vectors/datasetsIcon.svg">
        <span>Datasets</span>
        <i class="fa fa-angle-down custom"></i>
      </a>
      <ul class="dropdown">
        <li routerLinkActive="active">
          <a routerLink="datasets">
            <span>Open Datasets</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a>
            <span>Imported Datasets</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a>
            <span>Official API Data</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a>
            <span>Imported Data</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Alexa Feed Nav -->
    <li routerLinkActive="active">
      <a routerLink="alexa-help">
        <img src="/assets/vectors/alexaFeedIcon.svg">
        <span>Alexa: Ask Clara</span>
        <i class="fa fa-angle-down custom"></i>
      </a>
      <ul class="dropdown">
        <li routerLinkActive="active">
          <a routerLink="alexa-help">
            <span>Things You Can Ask</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="alexa-feed">
            <span>Status</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Ideas Nav -->
    <li routerLinkActive="active">
      <a routerLink="ideas">
        <img src="/assets/vectors/ideasIcon.svg">
        <span>Ideas</span>
      </a>
    </li>

    <!-- Lab Services Nav -->
    <li routerLinkActive="active">
      <a routerLink="lab-services">
        <img src="/assets/vectors/labServicesIcon.svg">
        <span>Lab Services</span>
      </a>
    </li>
  </ul>
</div>

<!-- Routed Elements -->
<div class="mainContent">
  <router-outlet></router-outlet>
</div>