/***********************************
  Main Page Style
***********************************/

.sidebarDiv {
  z-index: 3;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 100%;
  background-color: white;
  position: fixed;
  overflow: hidden;
  text-align: center;
}

.sidebar-user-panel img {
  width: 130px;
  border-radius: 50%;
}

.sidebar-user-panel h3 {
  color: #24344B;
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
  font-size: 14pt;
}

.sidebar-user-panel p {
  font-weight: 300;
  margin: 0;
  margin-bottom: 60px;
  font-size: 10pt;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 40px;
  text-align: center;
}

li a {
  padding: 15px;
  padding-left: 30px;
  text-align: left;
  width: 100%;
  display: block;
  font-size: 14pt;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a img {
  height: 20px;
  margin-right: 15px;
  margin-bottom: -4px;
}

a:focus {
  outline:none;
}

.active a {
  color: white;
  background-color: #32CDFE;
  border-left: solid #00B2FF 7px;
  padding-left: 23px;
}

i {
  margin-left: 40px; // TODO: float right
}

.dropdownContainer {
  display: none;
  padding-left: 25px;
}

/***********************************
  Main Content (Router-Outlet)
***********************************/


.mainContent {
  position: relative;
  margin-left: 260px;
  text-align: center;
}

.mainContent>* {
  display: block;
}
