/***********************************
  Main Page Style
***********************************/

.sidebarDiv {
  z-index: 3;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 100%;
  background-color: white;
  position: fixed;
  overflow: hidden;
  text-align: center;
}

.sidebar-user-panel img {
  width: 130px;
  border-radius: 50%;
}

.sidebar-user-panel h3 {
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
  font-size: 14pt;
}

.sidebar-user-panel p {
  font-weight: 300;
  margin: 0;
  margin-bottom: 60px;
  font-size: 10pt;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  text-align: center;
}

li a {
  display: block;
  cursor: pointer;
}

li:not(:first-child) {
  margin: 20px;
  text-align: left;
}

a {
  background-color: #EBEBEB;
  border-radius: 40px;
  padding: 15px 30px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #32CDFE;
  background-color: #DEDEDE;
}

.active a {
  color: #32CDFE;
}

#logOutBtn {
  margin-top: 75px;
  border: 0;
  color: white;
  background-image: linear-gradient(to bottom left, #32CDFE, #00B2FF);
}

#logOutBtn:hover {
  background-image: linear-gradient(to bottom left, #0FC0FC, #0099FF);
}

/***********************************
  Main Content (Router-Outlet)
***********************************/


.mainContent {
  position: relative;
  margin-left: 260px;
  text-align: center;
}

.mainContent>* {
  display: block;
}
