<div class="sidebarDiv">
    <ul>
      <li>
        <!-- Profile Info -->
        <div class="sidebar-user-panel">
          <img [src]="user.pictureSrc" alt="User Image" />
          <h3>{{ user.name }}</h3>
          <p>{{ user.title }}</p>
        </div>
      </li>
      <!-- Nav Elements -->
      <li routerLinkActive="active">
        <a routerLink="personalDashboard">
          <span>User Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="sharedDashboard">
          <span>Shared Dashboards</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="datasets">
          <span>Datasets</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="ideas">
          <span>Ideas</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="lab-services">
          <span>Lab Services</span>
        </a>
      </li>
    </ul>
  </div>
  
  <!-- Routed Elements -->
  <div class="mainContent">
    <router-outlet></router-outlet>
  </div>