@import "../../../variables.scss";

h1 {
  margin: 0;
  padding: $header-padding;
  background: $blue-gradient;
  font-weight: $header-font-weight;
  color: white;
}

.upload-btn {
  margin-top: 30px;
  border: 0;
  border-radius: 5px;
  padding: 8px 20px;
  color: white;
  background-color: $color-primary;
  transition: $main-hover-transition;

  &:hover {
    background-color: $color-primary-dark;
    transition: $main-hover-transition;
  }
}

.model-selection {
  display: flex;
  justify-content: space-between;
  padding: 40px;

  .model-list-container {
    flex: 1;
    padding-right: 20px;

    .models {
      list-style-type: none;
      padding: 0;
      margin: 0;
      height: 450px;
      overflow-y: auto;
      overflow-x: hidden;
  
      li {
        margin: 0 40px;
        padding: 15px;
        border-left: 7px solid $color-primary;
        border-radius: 7px;
        text-align: left;
        background-color: white;
        box-shadow:  $main-box-shadow;
        transition: $main-hover-transition;
  
        &:not(:first-child) {
          margin-top: 10px;
        }
  
        &:hover {
          cursor: pointer;
          color: $color-primary;
          transition: $main-hover-transition;
        }
      }
  
      .selected {
        color: $color-primary;
      }
    }
  }

  .model-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 7px;
    background-color: white;
    box-shadow: $main-box-shadow;
  }
}
