<div class="header-panel">
  <h1>AR Models</h1>
  <button class="add-btn" routerLink="upload">
    <i class="material-icons-round">add_circle</i>
  </button>
</div>

<div class="model-selection">
  <div class="model-list-container">
    <ul class="models">
      <!-- Adds selected to class of li if the model is selected -->
      <li *ngFor="let model of arModels" [class.selected]="model === selectedARModel" (click)="onSelect(model)">
        {{ model.name }}
      </li>
    </ul>
  </div>

  <div class="model-info-container">
    <app-ar-detail [arModel]="selectedARModel"></app-ar-detail>
  </div>
</div>
