@import "../../../variables.scss";

.container {
  padding: 5%;
}

.form-container {
  width: 70%;
  margin: auto;
}


h2 {
  font-weight: 500;
  font-size: 3vh;
}

form {
  padding: 5%;
  border-radius: 7px;
  margin-bottom: 10%;
  text-align: center;
  background-color: white;
  box-shadow: $main-box-shadow;

  input {
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    transition: $main-hover-transition;

    &:hover {
      background-color: #EFEFEF;
      transition: $main-hover-transition;
    }

    &[type="submit"] {
      border: 0;
      background-color: $color-primary;
      color: white;
      transition: $main-hover-transition;
      box-shadow: 0;
    
      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }
}

.flex-container {
  display: flex;
}

.image-panel {
  width: 40%;
}

img {
  width: 130px;
  border-radius: 50%;
}

.posts-panel {
  background-color: white;
  box-shadow: $main-box-shadow;
  border-radius: 7px;
  padding: 4%;
}