<!--&lt;!&ndash; Top Bar &ndash;&gt;-->
<!--<div id="topbar">-->
<!--  <div id="logoContainer">-->
<!--    <img src="../../assets/claraIcon.png" alt="Clara Logo">-->
<!--  </div>-->
<!--  <div class="mainBarContainer">-->
<!--    <p>top-bar works!</p>-->
<!--  </div>-->
<!--</div>-->

<!--&lt;!&ndash; Side Bar &ndash;&gt;-->
<!--<div id="sidebar">-->
<!--  <app-profile-thumbnail></app-profile-thumbnail>-->
<!--  <ul>-->
<!--    <li><a routerLink="/personalDashboard" routerLinkActive="active">My Dashboard</a></li>-->
<!--    <li><a routerLink="/sharedDashboard" routerLinkActive="active">Shared Dashboards</a></li>-->
<!--    <li><a routerLink="/datasets" routerLinkActive="active">Datasets</a></li>-->
<!--    <li><a routerLink="/ideas" routerLinkActive="active">Ideas</a></li>-->
<!--  </ul>-->
<!--</div>-->

<!--&lt;!&ndash; Main Content &ndash;&gt;-->
<!--<div class="mainContent">-->
<!--  <h1>{{ title }}</h1>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->
<router-outlet></router-outlet>
