<!-- Top Bar -->
<div id="topbar">
  <div id="logoContainer">
    <img src="../../assets/claraIcon.png" alt="Clara Logo">
  </div>
  <div class="mainBarContainer">
    <p>top-bar works!</p>
  </div>
</div>

<!-- Side Bar -->
<div id="sidebar">
  <ul>
    <li>
      <a href="#" class="active">My Dashboard</a>
    </li>
    <li>
      <a href="#">Shared Dashboards</a>
    </li>
    <li>
      <a href="#">Datasets</a>
    </li>
    <li>
      <a href="#">Ideas</a>
    </li>
  </ul>
</div>

<!-- Main Content -->
<div class="mainContent">
  <h1>{{ title }}</h1>
</div>
