.container {
  margin-top: 60px;
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

h1 {
  margin-bottom: 60px;
}

.notifications {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .notifications h2 {
    color: white;
    margin:20px;
    background-color: black;
    border-radius: 20px;
    width: 500%;
    height: 400px;
  }

  .data {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .data h2 {
    color: white;
    margin:20px;
    background-color: black;
    border-radius: 20px;
    width: 100%;
    height: 400px;
  }

  .projects h2 {
    color: white;
    margin-top: 60px;
    margin-bottom: 30px;
    background-color: black;
    border-radius: 20px;
    width: 100%;
    height: 500px;
  }
