<div class="title"><p>User Dashboard</p></div>

<app-graph-panel></app-graph-panel>

<div class="container">

  <div class="notifications">
    <h2>Recent Notifications<br><br><br><br><h3>All the notifications would go here.</h3></h2>

      <h2>Weather<br><br><br><br><h3>Placeholder for weather forecast, and other related data.</h3></h2>

      <h2>Satellite Traffic<br><br><img src="assets/satellite.gif" alt="satellite" style="width:500px;height:300px;"></h2>

      </div>
<div class="data">
    <h2>Data Flow<br><br><img src="assets/data.gif" alt="globe" style="width:500px;height:300px;"></h2>
      <h2>Total Active Users<br><br><br><br><h1>512</h1></h2>

      <h2>View Reports<br><br><br><br>Recent reports indicate an increase in IoT devices over the globe.</h2>
</div>
<div class="projects">
      <h2>New Projects<br><br><img src="assets/hello.jpg" alt="digkitch" style="width:700px;height:400px;"></h2></div>
  </div>
