.container {
    width:100%;
    background-color: #efefef;
    height: 1000px;
}

.tab1 mat-tab-group {
    padding: 50px;
    border-radius: 7px;
    background-color: white;
    width: 70%;
    margin: auto;
    height: 100px;
}

.tab2 mat-tab-group {
    padding: 50px;
    border-radius: 7px;
    background-color: white;
    width: 70%;
    margin: auto;
    height: 100px;
}