<div class="container">
    <h1>USER</h1>
    <div class="tab1">
        <br>
        <mat-tab-group>
            <mat-tab label="Step 1: Hover your pointer on Dashboard Tab"> <br><br>
                <p>
                    Congratulations! You've successfully
                    logged in, Welcome to Clara world! As you can see, there's a sidebar where you can access all the
                    content of this website. If you hover over the dashboard tab, you will see two sub-tabs, in this
                    section
                    we are going to see the functionality of the user-dashboard.
                </p>
            </mat-tab>
            <mat-tab label="Step 2: Click on My Dashboard"> <br><br>
                <p>Banana</p>
            </mat-tab>
            <mat-tab label="Step 3: Welcome to your personal dashboard"> <br><br>
                <p>Carrot</p>
            </mat-tab>
        </mat-tab-group>
    </div>
    <br>
    <div class="tab2">
        <mat-tab-group>
            <mat-tab label="Step 4"> <br><br>
                <p>Apple</p>
            </mat-tab>
            <mat-tab label="Step 5"> <br><br>
                <p>Banana</p>
            </mat-tab>
            <mat-tab label="Step 6"> <br><br>
                <p>Carrot</p>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>