#claraLogo {
  filter: invert(100%);
  height: 40px;
  margin-left: 45px;
}

/***********************************
  Main Content
***********************************/

.mainContent {
  position: relative;
  margin-left: 260px;
  margin-top: 60px;
  padding: 15px;
  text-align: center;
}

.mainContent>* {
  display: block;
}
