/***********************************
  Login Syle
***********************************/

#loginPage {
  background-color: white;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

#splash {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #767676;
  background-color: #EBEBEB;
  text-align: center;
  padding-top: 17%;
  visibility: hidden;
}

#splash h2 {
  margin-bottom: 45px;
}

.cssload-thecube {
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #408DF7;
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}

#loginContainer {
  position: fixed;
  background-color: #EBEBEB;
  height: 100%;
  width: 37%;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 7%;
  text-align: center;
}

#icon {
  width: 50%;
  margin-bottom: 18%;
}

form {
  text-align: center;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
  background-color: white;
  border-radius: 5px;
  padding: 45px;
  margin: auto;
  width: 60%;
  z-index: 1;
}

form h1 {
  text-align: center;
  margin-bottom: 40px;
}

form p {
  padding-right: 15px;
  color: #767676;
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
  border-bottom: 1px solid #408DF7;
}

input[type="text"]:last-child, input[type="email"]:last-child {
  margin-bottom: 0;
}

input[type="submit"], button {
  border: 0;
  margin: 0 15px;
  border-radius: 3px;
  padding: 7px 15px;
  background-color: #408DF7;
  color: white;
  transition:color .2s ease-out, background 0.3s ease-in;
}

input[type="submit"]:hover, button:hover {
  background-color: #0f70f5;
  transition:color .2s ease-out, background 0.3s ease-in;
}

#forgotPW {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  width: 110px;
  border: 0;
  color: #767676;
  background-color: white;
  text-align: center;
  transition:color .2s ease-out, background 0.3s ease-in;
}

#forgotPW:hover {
  color: #408DF7;
  background-color: white;
  transition:color .2s ease-out, background 0.3s ease-in;
}

#rightPanel {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 63%;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 8%;
  margin-left: 37%;
  text-align: center;
}

#rightPanel h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

#rightPanel p {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

#rightPanel img {
  width: 40%;
  animation-name: floating;
	-webkit-animation-name: floating;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
  animation-duration: 7s;
  margin-bottom: 40px;
}


/***********************************
  Main Page Style
***********************************/

.sidebarDiv {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 260px;
  height: 100%;
  background-color: white;
  position: fixed;
  overflow: hidden;
}

.sidebar-user-panel img {
  width: 150px;
  border-radius: 50%;
}

.sidebar-user-panel h3 {
  font-weight: 500;
  margin: 0;
  margin-top: 15px;
  font-size: 16pt;
}

.sidebar-user-panel p {
  font-weight: 300;
  margin: 0;
  margin-bottom: 60px;
  font-size: 12pt;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  text-align: center;
}

li a {
  display: block;
}

li:not(:first-child) {
  margin: 20px;
  text-align: left;
}

a {
  background-color: #EBEBEB;
  border-radius: 40px;
  padding: 15px 30px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #408DF7;
}

.active a {
  color: #0f70f5;
}


/***********************************
  Main Content (Router-Outlet)
***********************************/


.mainContent {
  position: relative;
  margin-left: 260px;
  text-align: center;
}

.mainContent>* {
  display: block;
}
