<div class="graphPanelContainer">
  <h3>{{ graphTitle }}</h3>
  <hr>

  <div class="main">
    <div id="controls">
      <!-- Y Axis Selection -->
      <h4>Y Axis</h4>
      <br>
      <div class="dropdown">
        <button type="button" data-toggle="dropdown">
          {{ yAxisTitle }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let dataset of datasets">
            <a (click)="setYAxis(dataset.name)">{{ dataset.name }}</a>
          </li>
        </ul>
      </div>
      <br>
      <div class="dropdown">
        <button type="button" data-toggle="dropdown">{{ yField }}
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li *ngFor="let field of yFields">
              <a (click)="selectYField(field)">{{ field }}</a>
            </li>
        </ul>
      </div>

      <br><br><br>

      <!-- X Axis Selection -->
      <h4>X Axis</h4>
      <br>
      <div class="dropdown">
        <button type="button" data-toggle="dropdown">
          {{ xAxisTitle }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let dataset of datasets">
            <a (click)="setXAxis(dataset.name)">{{ dataset.name }}</a>
          </li>
      </ul>
    </div>
    <br>
    <div class="dropdown">
      <button type="button" data-toggle="dropdown">{{ xField }}
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
          <li *ngFor="let field of xFields">
            <a (click)="selectXField(field)">{{ field }}</a>
          </li>
      </ul>
    </div>
  </div>

    <div id="graph">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
  <button class="addBtn" (click)="addGraph()">Add Graph to Dashboard</button>
</div>