<div class="graphPanelContainer">
  <div id="addBtnContainer">
    <button class="addBtn" (click)="addGraph()">+</button>
  </div>

  <h3>{{ graphTitle }}</h3>
  <hr>

  <div class="main">
    <div id="controls">
      <!-- Y Axis Selection -->
      <h4>Y Axis</h4>
      <br>
      <div class="dropdown">
        <button type="button" data-toggle="dropdown">{{ yAxisTitle }}
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a (click)="setYAxis('HTML')">HTML</a></li>
          <li><a (click)="setYAxis('CSS')">CSS</a></li>
          <li><a (click)="setYAxis('JavaScript')">JavaScript</a></li>
        </ul>
      </div>

      <br><br><br>

      <!-- X Axis Selection -->
      <h4>X Axis</h4>
      <br>
      <div class="dropdown">
        <button type="button" data-toggle="dropdown">{{ xAxisTitle }}
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a (click)="setXAxis('HTML')">HTML</a></li>
          <li><a (click)="setXAxis('CSS')">CSS</a></li>
          <li><a (click)="setXAxis('JavaScript')">JavaScript</a></li>
        </ul>
      </div>
    </div>

    <div id="graph">
      <p>Graph</p>
    </div>
  </div>
</div>
