.graphPanelContainer {
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  width: 600px;
  height: auto;
}

h3 {
  font-size: 26px;
}

hr {
  margin-bottom: 20px;
  width: 80%;
  height: 3px;
  border: none;
  background-color: #32CDFE;
}

h4 {
  margin: 0;
}

.addBtn:hover {
  background-color: #d51616;
  transition:color .2s ease-out, background 0.3s ease-in;
}

.main {
  display: flex;
}

#controls {
  margin-top: 15px;
  flex-grow: 1;
}

button {
  border: 0;
  margin: 0 15px;
  border-radius: 3px;
  padding: 7px 15px;
  width: 150px;
  height: 40px;
  background-color: #32CDFE;
  color: white;
  transition:color .2s ease-out, background 0.3s ease-in;
}

button:hover {
  background-color: #00B2FF;
  transition:color .2s ease-out, background 0.3s ease-in;
}

#graph {
  margin: 20px;
  border-radius: 7px;
  width: 400px;
  height: 350px;
}

.addBtn {
  text-align: center;
  margin-top: 20px;
  color: white;
  background-color: #eb3b3b;
  border: 1px solid transparent;
  width: 95%;
  padding: 3px;
  font-size: 14px;
  border-radius: 3px;
  transition:color .2s ease-out, background 0.3s ease-in;
}

/* Style The Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  padding-bottom: 30px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

ul, li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul {
  max-height: 150px;
  overflow-y: auto;
}

img {
  transform: translateY(-15px);
}