.container {
  width: 90%;
  padding: 5%;
  padding-top: 0;
}

.buttonsPanel {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin-top: 5%;
}

.buttonsPanel li {
  display: inline;
  margin: 2.5%;
}

.buttonsPanel button {
  border: 0;
  border-radius: 25px;
  padding: 1% 2%;
  color: black;
  background-color: white;
  font-size: 1.2vw;
  transition:color .2s ease-out, background 0.3s ease-in;
}

.buttonsPanel button:hover {
  background-color: #EFEFEF;
  transition:color .2s ease-out, background 0.3s ease-in;
  cursor: pointer;
}

/********************************
  Search Panel CSS
********************************/

.searchPanel {
  padding: 4%;
  color: white;
  background-image: linear-gradient(to left, #32CDFE, #00B2FF);
}

.searchPanel h1 {
  font-size: 6vh;
  font-weight: 300;
}

#searchDataForm {
  margin: 6% 0;
}

input, #searchDataForm button {
  border: 0;
  background-color: white;
  padding: 1.3% 2%;
  font-size: 1.3vw;
}

input:focus, button:focus {
  outline: none;
}

input[type="text"] {
  width: 70%;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
}

input #search {
  background-repeat: no-repeat;
  text-indent: 10%;
}

input[type="submit"] {
  border-radius: 0 10px 10px 0;
  text-align: right;
  color: white;
  background-color: #00B2FF;
  font-weight: bold;
  transition:color .2s ease-out, background 0.3s ease-in;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
}

input::placeholder {
  color: #BBBBBB;
}

input[type="submit"]:hover {
  background-color: #408DF7;
  transition:color .2s ease-out, background 0.3s ease-in;
}

#searchDataForm button {
  padding-left: 1%;
  border-radius: 0 10px 10px 0;
}

button img {
  height: 10px;
}

/********************************
  Status CSS
********************************/

h2 {
  font-weight: 400;
  font-size: 4vh;
  margin-top: 3%;
}

.datasetStats {
  margin-top: 3%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.datasetStats div {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
  width: 20%;
  padding: 1.7%;
}
  
.datasetStats h3 {
  font-weight: 100;
  margin: 0;
  font-size: 4vw;
}

.datasetStats p {
  margin: 0;
  margin-bottom: 5%;
  font-size: 1vw;
}
  
#numAccepted {
  color: #38D900;
}
  
#numNotMapped {
  color: #E80000;
}
  
#numUnderReview {
  color: #F5CB35;
}

/********************************
  Dataset List CSS
********************************/

#datasetsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#datasetsList li {
  margin-bottom: 2%;
  background-color: white;
  box-shadow: 0px 0px 46px -10px rgba(0,0,0,0.11);
  border-radius: 5px;
  border-left: 10px solid #00B2FF;
  height: 20%;
}

.titleDesc {
  min-width: 84%;
  margin-left: 0.7%;
  padding: 1.5%;
  font-size: 1.2vw;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
}
  
.titleDesc h3 {
  margin: 0;
  font-weight: 500;
  font-size: 3vh;
}

p {
  font-weight: 400;
}

.datasetUploadBtn {
  background-color: #00B2FF;
  color: white;
  border: 0;
  padding: 1% 3%;
  font-size: 2vh;
  border-radius: 5px;
  transition:color .2s ease-out, background 0.3s ease-in;
}

.datasetUploadBtn:hover {
  background-color: #408DF7;
  cursor: pointer;
  transition:color .2s ease-out, background 0.3s ease-in;
}

/********************************
  Submit Dataset Panel CSS
********************************/

.submitDatasetPanel {
  position: fixed;
  top: 25%;
  left: 50%;
  padding: 3%;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 26px 6px rgba(0,0,0,0.20);
}

.submitDatasetPanel input[type="text"] {
  border-radius: 7px;
  background-color: #EFEFEF;
  width: 100%;
  padding: 3% 0;
  margin-bottom: 7%;
  text-indent: 10%;
}

.submitDatasetPanel input[type="submit"] {
  width: 100%;
  background-color: #00B2FF;
  text-align: center;
  color: white;
  border: 0;
  padding: 3% 0;
  font-size: 2vh;
  font-weight: 400;
  border-radius: 7px;
  transition:color .2s ease-out, background 0.3s ease-in;
}

.submitDatasetPanel input[type="submit"]:hover {
  background-color: #408DF7;
  cursor: pointer;
  transition:color .2s ease-out, background 0.3s ease-in;
}

#closeDatasetPanelBtn {
  width: 100%;
  margin-top: 7%;
  color: white;
  border: 0;
  font-size: 2vh;
  border-radius: 7px;
  padding: 3% 5%;
  background-color: #eb3b3b;
  transition:color .2s ease-out, background 0.3s ease-in;
}

#closeDatasetPanelBtn:hover {
  background-color: #d51616;
  cursor: pointer;
  transition:color .2s ease-out, background 0.3s ease-in;
}

.datasetFields {
  list-style-type: none;
  height: 200px;
  overflow-y: auto;
}

.datasetFields li {
  text-align: left;
}


/***********************************
  Mobile CSS
***********************************/

@media screen and (orientation: portrait) {
  .titleDesc h3 {
    font-size: 3vw;
  }

  .titleDesc p {
    font-size: 2vw;
  }
}